
= f.label :address_1, "Home Address"
= f.text_field :address_1, placeholder: "Ex. 555 Some St"
%br/
= f.text_field :address_2, placeholder: "Ex. Suite #12 (optional)"
= f.label :city
= f.text_field :city, placeholder: "Ex. New York"
= f.label :state
= f.state_select :state
= f.label :zip
= f.text_field :zip, placeholder: "Ex. 55555"