.profile_show
  .white_box
    %h1
      = @profile.name
      = link_to "Edit", [:edit, @profile]
    .contact_details
      %span= @profile.phone
      %span= @profile.email
      %span= link_to @profile.website, @profile.website
      %span= link_to "@#{@profile.twitter}", "http://www.twitter/#{@profile.twitter}"

      / - @profile.addresses.each do |address|
      /   .address
      /     = address.city
      /     = address.state

    - if @profile.experiences.any?
      %h3 Experience
      - @profile.experiences.each do |experience|
        .experience
          %h4.company
            = experience.company_name
            %span.title{ style: "font-weight: normal; margin-left: 10px;" }= experience.job_title
            %span.range{ style: "font-weight: normal; margin-left: 10px; font-size: 14px;" }
              = experience.from
              = " - "
              = experience.till
          %span= experience.highlights.html_safe
    - @profile.schools.each do |school|
      .school
        = school.name
    - @profile.references.each do |reference|
      .reference
        = reference.name
