.row
  .col-md-3
    = f.input :job_id, as: :hidden, input_html: {value: @job.id}
    - if @job
      %h3= @job.title
      %p= @job.description.html_safe
.row
  .form-group.col-md-3
    %label When can you start?
    = f.input :start_date, label: false, as: :string, input_html: {class: "date form-control", value: @estimate.start_date}
  .form-group.col-md-3
    %label When do you propose to finish?
    = f.input :due_date, label: false, as: :string, input_html: {class: "date form-control", value: @estimate.due_date}
%hr/
.row
  #estimate_items
    .form-horizontal.addfieldlinkholder
      .col-md-12
        = f.fields_for :estimate_items do |i|
          = render 'estimate_item_fields', f: i
      .col-md-12
        = link_to_add_fields "Add An Item", f, :estimate_items
%hr/
.row
  .form-group.col-md-5= f.input :terms, input_html: {class: "form-control"}
  .form-group.col-md-5= f.input :notes, input_html: {class: "form-control"}