.container
  %br/
  - if @job
    %h2= @job ? "Who's Applying to '#{@job.title}'" : "My Job Applications"
    %table.table
      %tr
        %th{ style: "width: 60px"} Actions
        %th Applicant
        %th Status
        %th Sent Date
        %th Proposed Amount
      - @estimates.each do |estimate|
        %tr
          %td.actions
            = link_to "Review Applicant", resume_path(estimate.sent_by)
            = link_to "Preview Estimate", estimate_path(estimate)
          %td.applicant
            = estimate.sent_by.name
          %td= estimate.state
          %td= estimate.created_at.strftime("%m/%d/%Y")
          %td= number_to_currency estimate.proposed_total
  - elsif @recieved_estimates
    %h2 Estimates Recieved
    %table.table
      %tr
        %th{ style: "width: 60px"} Actions
        %th Applicant
        %th For Job
        %th Status
        %th Sent Date
        %th Proposed Amount
      - @recieved_estimates.each do |estimate|
        %tr
          %td.actions
            = link_to "Review Job", jobs_path(estimate.job)
            = link_to "Preview", estimate_path(estimate)
          %td.applicant
            = estimate.sent_by.name
          %td= estimate.job.title
          %td= estimate.state.humanize
          %td= estimate.created_at.strftime("%m/%d/%Y")
          %td= number_to_currency estimate.proposed_total
  - else
    %h2 Jobs you've sent estimates to
    %table.table
      %tr
        %th{ style: "width: 60px"} Actions
        %th Job
        %th Status
        %th Sent Date
        %th Proposed Amount
      - @estimates.each do |estimate|
        %tr
          %td.actions
            = link_to "Review Job", jobs_path(estimate.job)
            = link_to "Preview", estimate_path(estimate)
            = link_to "Edit", edit_estimate_path(estimate)
            = link_to "Delete", estimate_path(estimate), method: :delete
          %td.applicant
            = estimate.job.title
          %td= estimate.state
          %td= estimate.created_at.strftime("%m/%d/%Y")
          %td= number_to_currency estimate.proposed_total