.container
  .col-md-12.deviser
    %h2 Sign up
    = simple_form_for(resource, :url => '/moderators', :html => {:class => 'form-vertical' }) do |f|
      = f.error_notification
      = display_base_errors resource
      / = f.input :advertiser, :as => :hidden, :input_html => { :value => "Test Advertiser" }
      = f.input :email, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      = f.button :submit, 'Sign up', :class => 'btn-primary'
    = render "devise/shared/links"
