- if can? :manage, @job
  = link_to 'Edit Job', edit_job_path(@job), class: "btn" if @job.editable?
  = link_to 'Deactivate Job', job_path(@job), method: :delete, class: "btn btn-danger"
- if current_user and current_user.account and current_user.account == @job.account and @job.invite_only?
  %p
    You selected Invite Only for your job posting. Only job seekers you
    = link_to "invite", my_jobs_path
    can see the job description. To remove the Invite Only option or to edit your description you can view your listing
    = link_to "here", edit_job_path(@job)
- if current_user.has_been_invited?(@job) or !@job.invite_only? or (current_user and current_user.account.present? and current_user.account != @job.account)
  - if current_user.has_applied_to?(@job)
    .applied You've already applied.
  - elsif current_user.resume and current_user.has_sent_estimate_to?(@job)
    .applied You've already sent an estimate.
  - elsif current_user.account != @job.account
    - if current_user.resume.present?
      - if ['business','freelancer'].include? current_user.role?
        %h3
          Estimate Credits
          = current_user.account.estimate_credits
        - if current_user.account.has_estimate_credits?
          = link_to "Send Estimate", new_estimate_path(job_id: @job.id), class: "btn btn-success btn-large"
        - else
          = render 'jobs/shared/estimate_credit'
      - else
        - if @job.questions.any?
          = link_to "Apply", "#questionaire-modal", {"role" => "button", "data-toggle" => "modal", class: "btn btn-primary btn-large", style: "width:86%"}
        - else
          = link_to "Apply", new_job_job_application_path(@job), class: "btn btn-primary btn-large", style: "width: 86%"
    - else
      %p To apply for a job you must have a work profile
      = link_to "Create Work Profile", new_resume_path, class: "btn btn-primary btn-large"
    = link_to "Flag This Job", [:flag, @job], method: :post, style: "width: 100%; margin: 20px auto; display: block; text-align: center;"