
= f.error_notification
%h3
  Invoice #:
  = @invoice.guid
.row
  .col-md-3
    = formatted_address(@invoice.sender)
  .col-md-3
    - unless @available_recipients.empty?
      = f.association :reciever,label: "Recipient", collection: @available_recipients, value_method: :account_id, label_method: :name
    - else
      = label_tag "Clients", nil, class: "pull-left"
      = link_to "?", "javascript:void(0);", rel: "tooltip", data: {toggle: "tooltip", title: "You currently have no clients in the system."}, class: "clearfix"
    #project_invitational
      = link_to "Email?", "javascript:void(0);", rel: "tooltip", data: {toggle: "tooltip", title: "Or you can invite a user sending them an invitation into the system."}
      = text_field_tag :recipient_email
  .col-md-3
    = f.association :project, collection: current_user.projects, allow_blank: true, selected: (@project if @project)
.row
  .col-md-8
    %table.table.table-striped
      %tr
        %th Task
        %th Note
        %th Hours
        %th Rate
        %th Total
    .line_items
      = f.simple_fields_for :line_items do |line|
        = render 'line_item_fields', f: line
      = link_to_add_fields "Add Line Item", f, :line_items
.row
  .col-md-2.col-md-offset-6
    = f.input :amount, input_html: {class: "col-xs-6 pull-right"}
