%tr
  %td= link_to invoice.guid, invoice_path(invoice.guid)
  %td= invoice.project_name
  %td
    %p= invoice.client_name
    = sent_on_date(invoice)
  %td
    %p= current_user.account == invoice.sender ? "You" : invoice.sender.name
    %small
      Created On:
      = l invoice.created_at, format: :short
  %td= invoice.state
  %td= number_to_currency invoice.invoice_total
  %td
    %ul.unstyled.inline
      %li
        = link_to invoice_path(invoice.guid), rel: "tooltip", data: {toggle: "tooltip", title: "Review"} do
          %i.icon-eye-open
      %li
        = link_to edit_invoice_path(invoice),rel: "tooltip", data: {toggle: "tooltip", title: "Edit"} do
          %i.icon-pencil
      %li
        = link_to invoice_path(invoice), rel: "tooltip", method: :delete, data: { confirm: 'Are you sure?' } do
          %i.icon-remove