<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @invoice.account_id %>
</p>

<p>
  <b>Guid:</b>
  <%= @invoice.guid %>
</p>

<p>
  <b>Stripe charge:</b>
  <%= @invoice.stripe_charge_id %>
</p>

<p>
  <b>Description:</b>
  <%= @invoice.description %>
</p>

<p>
  <b>Error:</b>
  <%= @invoice.error %>
</p>

<p>
  <b>Amount:</b>
  <%= @invoice.amount %>
</p>

<p>
  <b>State:</b>
  <%= @invoice.state %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
