<p id="notice"><%= notice %></p>

<p>
  <b>Guid:</b>
  <%= @invoice.guid %>
</p>

<p>
  <b>Description:</b>
  <%= @invoice.description %>
</p>


<p>
  <b>Amount:</b>
  <%= @invoice.amount %>
</p>

<p>
  <b>State:</b>
  <%= @invoice.state %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', accounting_path %>
