.row
  .span10
    %h1
      Invoice #:
      = @invoice.guid
      .pull-right= @invoice.state
    .row
      .span3
        = formatted_address(@invoice.sender)
      .span3
        - if @invoice.reciever.present?
          = formatted_address(@invoice.reciever)
        - else
          None
      .span3
        = @invoice.project.present? ? @invoice.project.title : "No Project Assigned"
    .row
      .span8
        %table.table.table-striped
          %tr
            %th Task
            %th Note
            %th Hours
            %th Rate
            %th Total
          .line_items
          - @invoice.line_items.each do|li|
            %tr
              %td= li.task.present? ? li.task.title : "None"
              %td= li.note
              %td= li.hours
              %td= number_to_currency li.rate
              %td= number_to_currency li.total

    .row
      .span2.offset6
        .pull-right= @invoice.amount

    .actions
      .row
        .span3
          - if current_user.account == @invoice.sender
            = link_to "Edit", edit_invoice_path(@invoice.guid), class: "btn btn-large btn-success"
        .span3
          - if @invoice.amount >= 0
            - if current_user.account == @invoice.reciever
              = link_to "Approve and Pay Invoice", pay_invoice_path(@invoice, data: "pay"), method: :post, class: "btn btn-large btn-success" unless @invoice.escrow?
              = link_to "Approve and Put into escrow", "javascript:void(0));", class: "btn btn-large btn-success" unless !@invoice.escrow?
            - else
              = link_to "Request Payment", invoice_path(@invoice), {commit: 'request transfer'}, method: :post, class: "btn btn-large btn-success"

