.row
  .span6
    %legend Targeting
    %h5 Class A
    #audience_targets{data: {base: Campaign::BASE, audience: Campaign::AUDIENCE}}
      = f.input :audience_target_ids, label: "Target Audience", collection: AdTarget.by_audience("A"), input_html: { include_blank: false, multiple: false, }
    %h5 Class B
    #industry_targets{data: {industry: Campaign::INDUSTRY}}
      = f.input :industry_target_ids, label: "Target Industry", collection: AdTarget.by_audience("B1"), input_html: { multiple: false, class: ".chzn-select" }
    #job_targets{data: {job: Campaign::JOB}}
      = f.input :job_target_ids, label: "Target Job", collection: AdTarget.by_audience("B2"), input_html: { multiple: false, class: ".chzn-select" }
    #employee_targets{data: {employee: Campaign::EMPLOYEE}}
      = f.input :employee_target_ids, label: "Target Employee Status", collection: AdTarget.by_audience("B3"), input_html: { multiple: false, class: ".chzn-select" }
    #education_targets{data: {education: Campaign::EDUCATION}}
      = f.input :education_target_ids, label: "Target Education Level", collection: AdTarget.by_audience("B4"), input_html: { multiple: false, class: ".chzn-select"}
    #advertiser_targets{data: {advertiser: Campaign::ADVERTISER}}
      = f.input :advertiser_target_ids, label: "Target Advertiser", collection: AdTarget.by_audience("B5"), input_html: { multiple: false, class: ".chzn-select" }
    %hr/
    %legend Ad's
    = f.fields_for :image_ads do |i|
      = render "image_ad_fields", f: i
    = link_to_add_fields "Add an Image Advertisement", f, :image_ads
    = f.fields_for :text_ads do |t|
      = render "text_ad_fields", f: t
    = link_to_add_fields "Add an Text Advertisement", f, :text_ads
    %hr/
    %legend Budget
    %h5 Max Bid
    %h5 Max Budget
    %h6 (Minimum $25)
    = f.input :budget
    %hr/
    %legend Campaign
    = f.input :name, label_html: {class: "control-label"}
    %hr/
    %legend Billing Information
    = f.fields_for :advertiser_account do |a|
      = a.input :company
      = a.input :website
      = a.input :phone
  .span4
    -# = render 'advertisers/campaigns/shared/estimates', f: f
    Campaign Budget Estimates
    = f.input :cpc, label: false, collection: [["CPC", :true], ["CPM",:false]], as: :radio_buttons, item_wrapper_class: "inline"
    %span#cpm{style: "font-size:200%"} $0.00
    %span#cpc{style: "font-size:200%"} $0.00

