%fieldset
  = f.input :title
  = f.input :url
  = f.input :content
  = image_tag f.object.image.url(:square), alt: "Ad Image Original" if f.object.image?
  = f.input :image
  = f.hidden_field :_destroy
  = link_to "remove", '#', class: "remove_fields"