= simple_form_for new_conversation, html: {class: "form-horizontal", role: "form"} do |f|
  .form-group
    %label.control-label.col-sm-2{:for => "recipient"} Recipient
    .col-sm-4= select_tag :recipient, options_for_select(current_user.contact_list.collect{ |u| [u.name, u.id] }, params[:recipient_id]), {class: "form-control", autofocus: true, :include_blank => false, :prompt=>"Select Recipient", :onchange=>"javascript:document.getElementById('conversation_recipient_id').value = this.value"}
  .form-group
    %label.control-label.col-sm-2{:for => "subject"} Subject
    .col-sm-4= f.input :subject, label: false, autofocus: true, input_html: {class: "form-control"}
  .form-group
    = f.simple_fields_for new_conversation.conversation_items.build do |ci|
      %label.control-label.col-sm-2{:for => "body"} Body
      .col-sm-10= ci.input :body, label: false, input_html: { rows: 5, cols: 30, class: "form-control" }
    = f.hidden_field :recipient_id, value: params[:recipient_id]
  .form-group
    .col-sm-offset-2
      = f.button :submit, "Send", class: "btn btn-success"
