.conversations_show
	.white_box
		%h1 Conversation
		%h3= @conversation.subject
		- @conversation.conversation_items.order("id ASC").each do |conversation_item|
			%p
				= conversation_item.sender.name
				= "-"
				= raw conversation_item.body
			%hr/
		= simple_form_for @conversation do |f|
			.form-fields
				= f.simple_fields_for @conversation.conversation_items.build do |ci|
					= ci.text_field :body, autofocus: true
			.form-actions
				- if ['Business', 'Freelancer'].include?(current_user.role?) && ((Business.find_by_id(current_user.id).present? && Business.find_by_id(current_user.id).account.present?) || (Freelancer.find_by_id(current_user.id).present? && Freelancer.find_by_id(current_user.id).account.present?)) && !current_user.account.safe_job_seal?
					%a.btn.btn-primary{"data-content" => "Due to quality control you must #{link_to "verify your account", add_seal_account_path} before you can send messages on WorkCheetah. Thank you.", "data-original-title" => "Please verify your account.", :href => "javascript: void(0);", :rel => "popover", "data-placement" => "bottom"} Send
				- else
					= f.button :submit, "Send", class: "btn btn-primary"