<%= simple_form_for(@video_chat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<% if !@video_chat.new_record? %>
			<%= f.hidden_field :requester_id, value: current_user.id %>
  	<% end %>
    <%= f.hidden_field :recipient_id, value: params[:recipient_id] || @video_chat.recipient_id %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <% if current_user == @video_chat.requester %>
      <%= f.input :note %>
    <% end %>
  </div>

  <div class="form-actions">
    <% if @video_chat.new_record? %>
      <%= f.submit "Send interview request", class: "btn btn-success" %>
    <% else %>
      <%= f.submit "Update interview request", class: "btn btn-success" %>
    <% end %>
  </div>
<% end %>
