<div class="video_chats_index">
    <div class="white_box">
        <% if current_user.account %>
            <div class="alert alert-success alert-block alert-info">
                <button class="close" data-dismiss="alert" type="button">&times;</button>
                With our Online Interviewing system you can hire more effectively and way faster! Pick your best <%= link_to "recruits", [:recruits, current_user.account] %> to interview now.
            </div>
        <% end %>
        <h1>Interviews</h1>
        <% if @video_chats.any? %>
            <table class="table">
              <tr>
                <th>With</th>
                <th>Accepted by other party</th>
                <th>Start time</th>
                <th>End time</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            <% @video_chats.each do |video_chat| %>
              <tr>
                <td><%= current_user == video_chat.requester ? video_chat.recipient.name : video_chat.requester.name %></td>
                <td><%= current_user == video_chat.requester ? video_chat.accepted_by_recipient : video_chat.accepted_by_requester %></td>
                <td><%= video_chat.start_time.strftime("%b %e, %Y at %l:%M%P") %></td>
                <td><%= video_chat.end_time.strftime("%b %e, %Y at %l:%M%P") %></td>
                <% if video_chat.end_time <= Time.now %>
                    <td><%= link_to 'Start interview', video_chat, class: "btn btn-primary" %></td>
                    <td><%= link_to 'Reschedule', edit_video_chat_path(video_chat), class: "btn btn-info" %></td>
                    <td><%= link_to 'Cancel', video_chat, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                    <td>
                        <% if (current_user == video_chat.requester && !video_chat.accepted_by_requester?) || current_user == video_chat.recipient && !video_chat.accepted_by_recipient? %>
                            <%= link_to "Accept", accept_video_chat_path(video_chat), method: :put, class: "btn btn-success" %>
                        <% end %>
                    </td>
                <% else %>
                    <td><%= link_to 'View interview', video_chat, class: "btn btn-primary" %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                <% end %>
              </tr>
            <% end %>
            </table>
        <% else %>
            <% if current_user.account %>
                You have not scheduled any interviews. You can request an interview for your <%= link_to "recruits", [:recruits, current_user.account] %>.
            <% else %>
                There are no scheduled interviews for you.
            <% end %>
        <% end %>
    </div>
</div>