= simple_form_for(@tweet) do |f|
  = f.error_notification
  .form-inputs
    = f.input :body, input_html: { rows: 10 }, autofocus: true
    = f.input :for_accounts
    = f.input :for_public
    = f.input :for_resumes
  .form-actions
    = f.button :submit, class: "btn"
