= simple_form_for(@job, html: { class: "form-vertical"}) do |f|
  - if @job.errors.any?
    .errors
      - @job.errors.full_messages.each do |msg|
        %li= msg
  = f.error_notification
  %hr
  .row
    .col-md-12
      %p.lead Job Information
  .row
    .form-group.col-md-6
      %label Job Title
      = f.input :title, label: false, input_html: { class: 'form-control' }
    .form-group.col-md-2
      = f.label :category_id, raw("<abbr title=\"required\">*</abbr> Job Category")
      = f.collection_select(:category_id, Category.scoped, :id, :name, {:prompt=>true}, {:class=>'form-control'})
    .form-group.col-md-2
      = f.label :category2_id, "Job Category 2"
      = f.collection_select(:category2_id, Category.scoped, :id, :name, {:prompt=>true}, {:class=>'form-control'})
    .form-group.col-md-2
      = f.label :category3_id, "Job Category 3"
      = f.collection_select(:category3_id, Category.scoped, :id, :name, {:prompt=>true}, {:class=>'form-control'})
  .row
    .form-group.col-md-6
      %label What are you looking for?
      = f.input :job_type, label: false, collection: job_types_collection, prompt: true, input_html: { class: 'form-control' }
      .help-block For remote jobs, choose the outsource option.
    .form-group.col-md-3
      %label Yearly Compensation
      = f.input :yearly_compensation, label: false, collection: Job::COMPENSATION_OPTIONS, prompt: true, input_html: { class: 'form-control' }
    .form-group.col-md-3
      %label Merit Requested
      = f.input :merit_requested, label: false, collection: School::HIGHEST_MERIT, prompt: true, input_html: { class: 'form-control' }
  .row.skills
    .form-group.col-md-12
      %label Specific Service/Skills Requested
      = f.input :skill_ids, label: false, collection: SkillGroup.includes(:skills).all, as: :grouped_select, group_method: :skills, group_label_method: :name, label_method: :name, input_html: { multiple: true, class: ".chzn-select" }
      .help-block Select up to 10 skills. Skills can be easily searched for, added, or removed by simply clicking on the above field.
  .row.skills
    .form-group.col-md-12
      .form-group
        %label Job Description
        = f.text_area :description, label: false, :placeholder => 'Please enter a brief job description.', style: "height: 200px; width: 100%; font-size: 16px;", class: "form-control tinymce"
  %hr
  .row
    .form-group.col-md-12
      %p.lead Applicant Questionaire (Optional)
      .help-block
        Workcheetah provides the option to construct a short survey that all job applicants would need to fill out before successfully applying for a job.
        %br
      .form-horizontal.addfieldlinkholder
        .col-md-12
          = f.fields_for :questions do |question|
            = render 'question_fields', f: question
        .col-md-12
          = link_to_add_fields "Add A Question", f, :questions
  %hr
  .col-md-12
    - if @job.account.nil? || @job.account.present? && !user_signed_in?
      %p.lead Your Information
      = f.fields_for :account do |af|
        .row
          .form-group.col-md-4
            = af.input :name, label: "Company Name", placeholder: "Your Company", input_html: { class: 'form-control' }
          .form-group.col-md-4
            = af.input :business_type, label: 'Which best describes your business?', collection: business_types_collection, prompt: true, input_html: { class: 'form-control' }
          .form-group.col-md-4
            = af.label :role, "Which describes your role best?"
            = af.input :role, label: false, collection: Account::ROLE_OPTIONS, prompt: true, input_html: { class: 'form-control' }
        .row
          .form-group.col-md-4
            %label Company Website
            = af.input :website, label: false, input_html: { class: "website" }, placeholder: "http://www.yourdomain.com", input_html: { class: 'form-control' }
          .form-group.col-md-4
            %label Company Phone
            = af.input :phone, label: false, input_html: { class: "phone" }, placeholder: "(555) 555-5555 x555", input_html: { class: 'form-control' }
        .row.form-group
          .col-md-12
            %label Jobs Portal Web Address
          .col-xs-12.input-group
            %span.input-group-addon http://www.workcheetah.com/
            = af.input :slug, label: false, placeholder: "your-company-name-without-spaces", input_html: { class: 'form-control' }
          .col-md-12
            = af.fields_for :users do |uf|
              = uf.input :email, label: "Email", placeholder: "john.doe@example.com", required: true, input_html: { class: 'form-control' }
              = uf.input :password, placeholder: "Password", required: true, input_html: { class: 'form-control' }
              = uf.input :password_confirmation, placeholder: "Repeat Password", required: true, input_html: { class: 'form-control' }
              .input-group
                = uf.input :terms_of_service, as: :boolean, label: raw("I agree to the #{link_to "Terms & Conditions", "/terms_and_conditions-2013-05-01.pdf", target: :blank}"), required: :true
  .col-md-12
    .row.form-group
      .col-xs-12
        .input-group
          %lebel Location
          = f.input :address, label: false, required: false, input_html: {class: "form-control" }
          .help-block Leave blank if this is a remote job.
        .input-group
          = f.input :invite_only, as: :boolean, label: "Make Invite Only"
          .help-block To protect yourself from spam, you can make your job post invite only.
    .row.form-group
      - if user_signed_in? && ['freelancer', 'business'].include?(current_user.role?)
        = f.submit "Post job listing", class: "btn btn-large btn-primary"
      - else
        = f.submit "Create Account & Save Job Listing", class: "btn btn-large btn-primary"
