= simple_form_for(@job, html: { class: "form-vertical"}) do |f|
  = tinymce :theme => "simple", :plugins => ["inlinepopups", "paste"]
  - if @job.errors.any?
    .errors
      = @job.errors.full_messages.each do |msg|
        %li= msg

  = f.error_notification

  .form-inputs
    / .control-group
    /   = f.label :title, "Job title"
    /   .control= f.text_field :title, style: "width: 98%; font-size: 24px; padding: 0.4em; height: 1.2em"
    = f.input :title, label: "Job title", input_html: { style: "width: 98%; font-size: 24px; padding: 0.4em; height: 1.2em" }
    / .control-group
    = f.label :category_id, raw("<abbr title=\"required\">*</abbr> Job category")
    = f.collection_select(:category_id, Category.scoped, :id, :name, :prompt => true)
    / .control-group
    = f.label :category2_id, "Job category 2"
    = f.collection_select(:category2_id, Category.scoped, :id, :name, :prompt => true)
    / .control-group
    = f.label :category3_id, "Job category 3"
    = f.collection_select(:category3_id, Category.scoped, :id, :name, :prompt => true)

    / # = f.input :yearly_compensation, collection: Job::COMPENSATION_OPTIONS, prompt: true

    .control-group
      = f.label :description, raw("<abbr title=\"required\">*</abbr> Job description")
      .control= f.text_area :description, style: "height: 200px; width: 100%; font-size: 16px;", class: "tinymce"
    / = f.input :description, input_html: { style: "height: 200px; width: 100%; font-size: 16px;", class: "tinymce" } ## this can't be used, because chrome will try focus on it to check it blank, and it will not work (raises a js error before submitting)
    / .control-group
    /   = f.label :about_company
    /   .control= f.text_area :about_company, style: "height: 200px; width: 100%; font-size: 16px;", class: "tinymce"
    %br/ 
    = f.input :about_company, input_html: { style: "height: 200px; width: 100%; font-size: 16px;", class: "tinymce" }
    / .control-group
    /   = f.label :address, "City, State (ex. Los Angeles, CA)"
    /   .control= f.text_field :address, style: "width: 100%; max-width: 400px; font-size: 16px;"
    %br/ 
    = f.input :address, label: "City, State (ex. Los Angeles, CA)", input_html: { style: "width: 100%; max-width: 400px; font-size: 16px;" }
    .control-group
      = f.label :quick_applicable, "Quick applicable?"
      .control
        = f.check_box :quick_applicable
        %a#invite-popover.btn.btn-primary{"data-content" => "Allow job seekers to quickly apply to your jobs and increase the amount of applicants you receive.", "data-original-title" => "Quick Applicable", html: true, :href => "javascript: void(0);", :rel => "popover"} ?
    .control-group
      = f.label :invite_only, "Invite only?"
      .control
        = f.check_box :invite_only, html: { checked: true }
        %a#invite-popover.btn.btn-primary{"data-content" => "Protect yourself from spam. Your job only shows to those that you invite to your listing.", "data-original-title" => "Invite Only", html: true, :href => "javascript: void(0);", :rel => "popover"} ?

    - unless user_signed_in? && current_user.account
      = f.fields_for :account do |af|
        %h2 Account Info
        / .control-group
        /   = af.label :name, "Company name"
        /   .control= af.text_field :name, placeholder: "ABC Company"
        = af.input :name, label: "Company name", placeholder: "ABC Company"
        = af.label :role, "Which describes your role best?"
        = af.input :role, collection: Account::ROLE_OPTIONS, prompt: true
        / .control-group
        /   = af.label :website, "Company website"
        /   .control= af.text_field :website, class: "website", placeholder: "http://www.yourdomain.com"
        = af.input :website, label: "Company website", input_html: { class: "website" }, placeholder: "http://www.yourdomain.com"
        / .control-group
        /   = af.label :phone, "Company phone"
        /   .control= af.text_field :phone, class: "phone", placeholder: "(555) 555-5555 x555"
        = af.input :phone, label: "Company phone", input_html: { class: "phone" }, placeholder: "(555) 555-5555 x555"
        / .control-group
        /   = af.label :slug, "Jobs portal address (no spaces allowed)"
        /   .control
        /     http://www.workcheetah.com/
        /     = af.text_field :slug, placeholder: "your-company-name-without-spaces", style: "width: 400px;"
        = af.label :slug, "Jobs portal address (no spaces allowed)"
        %abbr{:title => "required"} *
        http://www.workcheetah.com/
        = af.input_field :slug, placeholder: "your-company-name-without-spaces", input_html: { style: "width: 400px;" }
        - unless user_signed_in?
          %h2 Admin User Settings
          %p Let's start by creating the first user on your account. You can add additional users later.
          = af.fields_for :users do |uf|
            / .control-group
            /   = uf.label :email, "Your email"
            /   .control= uf.email_field :email, placeholder: "john.doe@example.com"
            = uf.input :email, label: "Your email", placeholder: "john.doe@example.com", required: true
            / .control-group
            /   = uf.label :password
            /   .control= uf.password_field :password, placeholder: "************"
            = uf.input :password, placeholder: "************", required: true
            / .control-group
            /   = uf.label :password_confirmation
            /   .control= uf.password_field :password_confirmation, placeholder: "************"
            = uf.input :password_confirmation, placeholder: "************", required: true
            / .checkbox
            /   = uf.check_box :terms_of_service
            /   = uf.label :terms_of_service, raw("I agree to the #{link_to "terms & conditions", "/terms_and_conditions-2013-05-01.pdf", target: :blank}")
            = uf.input :terms_of_service, as: :boolean, label: raw("I agree to the #{link_to "terms & conditions", "/terms_and_conditions-2013-05-01.pdf", target: :blank}"), required: :true
  .form-actions
    - if user_signed_in? && current_user.account.present?
      = f.submit class: "btn btn-large btn-success"
    - else
      = f.submit "Create Account & Save Job Listing", class: "btn btn-large btn-success"
