= form_tag jobs_path, method: :get, class: "job-search"  do |f|
  .field
    = label_tag :search, "What type of job are you looking for?"
    = text_field_tag :search, @query || nil, tabindex: "1", placeholder: "Ex. Sales Manager", class: "search-field", autofocus: true
  .field
    = label_tag :location, "Where?"
    = text_field_tag :location, @location || @current_location_clean, placeholder: "Ex. New York, NY", class: "location"
  .action
    = submit_tag "Search", class: "btn btn-success btn-large"
    %span.tour_link
      or
      = link_to("build your resume first", new_resume_path) + "."