.jobs_index
  .white_box
    .pull-left.span4
      %h1
        = @category.name if @category
        Jobs
      - unless @portal || @category
        = render "jobs/search_form"
    .pull-right.span6
      = image_tag("look-for-safe-seal.png")
      %br/ 
      %em WorkCheetah validates all employers holding the WorkCheetah Validation seal by confirming company information with the IRS. WorkCheetah expresses its right to disclaim any responsibility for scams, hoaxes, or otherwise illegal activities on its site. WorkCheetah WILL NOT tolerate any abuse of its website or its users and asks that any individuals who experience suspicious activity to <u>report it immediately</u>. Please do you research before entertaining offers from ANY organizations learned about online. – WorkCheetah Team
      - if @category && user_signed_in? && current_user.admin?
        = link_to "Edit Category", [:edit, @category], class: "btn"
  
    %br{clear: :all}/ 
    %h3
      Open positions
      / = @location || @current_location_clean
    %table.table
      %tr
        %th Position
        %th Company
        %th City
        %th Job Type
        %th Who's Applying?
      - @jobs.each do |job|
        %tr{ class: "job #{ job.account.safe_job_seal? ? " safe_seal" : "" }"}
          %td
            - if job.title.present?
              = link_to job.title, job

          %td
            - if job.account && job.account.name
              = link_to job.account.name, slug_path(job.account.slug)
              - if job.account.safe_job_seal?
                = image_tag "safe-seal-small.png", alt: "Safe Job seal"
          
          %td= job.address
          %td= job.category ? job.category.name : "n/a"
          %td= link_to pluralize(job.job_applications_count, "Applicant"), [job, :job_applications]
    %br/

