.jobs_index
  .white_box
    %h1 Jobs

    - unless @portal
      = render "jobs/search_form"

    %table.table
      %tr
        %th Position
        %th Company
        %th Applicants
      - @jobs.each do |job|
        %tr{ class: "job #{ job.account.safe_job_seal? ? " safe_seal" : "" }"}
          %td
            - if job.title.present?
              = link_to job.title, job
          %td
            - if job.account && job.account.name
              = link_to job.account.name, slug_path(job.account.slug)
              - if job.account.safe_job_seal?
                = image_tag "safe-seal-small.png", alt: "Safe Job seal"
          %td= link_to pluralize(job.job_applications_count, "Applicant"), [job, :job_applications]
    %br/

