.jobs_index.accounts_show
	.white_box
		.pull-left.span4
			%h1 My Jobs
			.alert.alert-info.alert-block
				%button.close{"data-dismiss" => "alert", :type => "button"} &times;
				Your dashboard helps you manage all your job posts and applicants in the cloud. You can click on your listings to view/edit/delete the descriptions at any time. You can follow the applicant links to view who's applying to your job listings.
		- if !current_user.account.safe_job_seal?
			.pull-right.span6
				.complete_account
					%h2 Complete Your Account
					%ul
						%li.completed Create Account
						%li.completed Create First Job Listing
						%li.incomplete
							= link_to "Verify Your Account", [:add_seal, :account]
							.small_text
								You are not yet a verified employer.
								%br/ 
								Please Verify your account now.
		%table.table
			%tr
				%th Position
				%th Applicants
				%th Date Posted
				%th 
			- @jobs.each do |job|
				%tr
					%td
						- if job.title.present?
							= link_to job.title, job
					%td
						= link_to pluralize(job.job_applications.count, "Applicant"), [job, :job_applications]
					%td= job.created_at.strftime("%m/%d/%Y")
					%td 
						- if !job.invited? and current_user.account.safe_job_seal?
							= link_to 'Invite job seekers', invite_job_seekers_to_job_path(job), method: :post, class: "btn btn-success"
						- elsif !job.invited?
							%a#invite-popover.btn.btn-success{"data-content" => "#{link_to "Verify your account.", add_seal_account_path} As a verified employer you can invite all relevant job seekers within a 50 mile radius to your job opening.", "data-original-title" => "Invite", :href => "javascript: void(0);", :rel => "popover"} Invite job seekers

		%br/
