.jobs_show
  - if user_signed_in? and current_user.resume and !current_user.resume.enough_for_employers?
    .alert.alert-danger
      Looks like your resume isn't complete. Having a completed resume increases the likelihood of a company becoming interested in hiring you. You should provide your name, phone number, at least one address and at least one category that's of interest.
  .white_box
    .row
      .span11
        - if !@job.account.safe_job_seal?
          %center{ style: "color: red;" }
            Company Not Verified.
    .row
      .span8{ style: "width: 72%"}
        - if @job.account.logo.present?
          = image_tag @job.account.logo.medium.url
        %h2
          = @job.title
          - if @job.address.present?
            %span.city{ style: "font-weight: normal; font-size: 18px; color: #555"}
              &ndash;
              = @job.address
        - if can? :manage, @job
          = link_to 'Edit Job', edit_job_path(@job), class: "btn"
          = link_to 'Deactivate Job', job_path(@job), method: :delete, class: "btn btn-danger"
        - if can? :manage, @job and !@job.invited? and @job.account.safe_job_seal?
          = link_to 'Invite job seekers', invite_job_seekers_to_job_path(@job), method: :post, class: "btn btn-success"
        - elsif can? :manage, @job and !@job.invited?
          %a#invite-popover.btn.btn-success{"data-content" => "#{link_to "Verify your company.", add_seal_account_path} As a verified employer you can invite all relevant job seekers within a 50 mile radius to your job opening.", "data-original-title" => "Invite", html: true, :href => "javascript: void(0);", :rel => "popover"} Invite job seekers

        %h3 Job Description
        - if @job.description
          %p= @job.description.html_safe

        - if @job.about_company.present?
          %h3 About Company
          %p= @job.about_company.html_safe
        = link_to 'Back', "javascript: history.go(-1)"
      .span2{ style: "width: 22%"}
        - if current_user
          - if current_user.has_applied_to?(@job)
            .applied You've already applied.
          - elsif current_user.account != @job.account
            / = link_to "Apply", new_job_job_application_path(@job), class: "btn btn-primary btn-large", style: "width: 86%"
            = link_to "Flag This Job", [:flag, @job], method: :post, style: "width: 100%; margin: 20px auto; display: block; text-align: center;"
        - else
          %a#invite-popover.btn.btn-primary.btn-large{"data-content" => "Please build a resume to apply to jobs.", "data-original-title" => "#{link_to "Build a resume", new_resume_path}", :href => "javascript: void(0);", :rel => "popover", "data-placement" => "left", style: "width: 86%;"} Apply
        / - else
        /   = link_to "Apply", new_job_job_application_path(@job), class: "btn btn-primary btn-large", style: "width: 86%"