%h1 Edit Your Account
= form_for(@user, :url => {controller: "users", action: "update" } ) do |f|
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password, "New Password"
    = f.password_field :password, :autocomplete => "off"
  .field
    = f.label :password_confirmation, "New Password Confirmation"
    = f.password_field :password_confirmation
  .field
    Unhappy?
    = link_to "Cancel my account", registration_path(@user), :confirm => "Are you sure?", :method => :delete
  .action_container
    = f.submit "Update Password", class: "btn btn-success"