.white_box
  %h1 Edit Your Account
  = form_for(@user, :url => { :action => "update" } ) do |f|
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password, "New Password"
      = f.password_field :password, :autocomplete => "off"
    .field
      = f.label :password_confirmation, "New Password Confirmation"
      = f.password_field :password_confirmation
    .action_container
      = f.submit "Update Password", class: "btn btn-success"
