.job_applicants_index
  .white_box
    - if @job
      %h1 Job Applicants
    - else
      %h1 My Job Applications
    - if @job
      %table.table
        %tr
          %th Applicant
          %th
        - @job_applications.each_with_index do |job_application, i|
          - if job_application.user.resume.present?
            %tr
              - if can? :read, job_application
                %td= job_application.user.resume.name
                %td= link_to "View", [@job, job_application], class: "btn"
              - else
                %td
                  = link_to [@job, job_application] do
                    Applicant
                    = i + 1

                %td
                  - if can? :manage, @job
                    = link_to "Purchase Applicant", [:buy, @job, job_application], method: :post, class: "btn btn-success"
                  = link_to "Preview", [@job, job_application], class: "btn btn-primary"
    - else
      %table.table
        %tr
          %th Job
          %th Company
          %th Applied Date
          %th Status
        - @job_applications.each do |job_application|
          %tr
            %td= link_to job_application.job.title, job_application.job
            %td= job_application.job.account.name
            %td= job_application.created_at.strftime("%m/%d/%Y")
            %td= job_application.status
