.container
  %h2= "RecievedJob Applications"
  %br/
  %table.table
    %tr
      %th Applicant
      %th Job
      %th Applied Date
      %th Status
    - @job_applications.each do |job_application|
      %tr
        %td= job_application.job.account.name
        %td= link_to job_application.user.name, job_application
        %td= job_application.created_at.strftime("%m/%d/%Y")
        %td= job_application.status