#section-1.section
  .container 
    %h5 Why do most Freelancers prefer WorkCheetah?
    %h4 See for yourself.
    = image_tag('lrgarrow.png', :class => "lrgarrow")
    .parallaxitem= image_tag('NEWfreelancerhammock.png', 'data-start' => "bottom: 350px; left: -20px;", 'data-end' => "bottom: 1000px; left: -1000px;" )
    .parallaxitem= image_tag('NEWfreelancerslaptop.jpg', 'data-start' => "top: 0px; right: 0px;", 'data-end' => "top: -1000px; right: -1000px;" )
#section-2.section
  .container 
    %h6 Freelance better on WorkCheetah.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-eleven.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-1.png'), '#')
                %h3 Apply to Jobs with a Click
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-2.png'), '#')
                %h3 Send Details Estimates
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-3.png'), '#')
                %h3 Upload a Video to Impress Businesses
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-4.png'), '#')
                %h3 Track your Applications
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-5.png'), '#')
                %h3 Boost your Resume Score with More Jobs
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-6.png'), '#')
                %h3 Showcase Your Skills
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-7.png'), '#')
                %h3 Explain Your Experience
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-8.png'), '#')
                %h3 Upload References
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-9.png'), '#')
                %h3 Verify Your References for Credibility
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-10.png'), '#')
                %h3 Interview with Employers Online
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-11.png'), '#')
                %h3 Work Online
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-12.png'), '#')
                %h3 Manage Your Shifts
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-13.png'), '#')
                %h3 Project Management
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-14.png'), '#')
                %h3 Track Your Hours
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-15.png'), '#')
                %h3 Manage Your Clients
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-16.png'), '#')
                %h3 Organize Your Jobs
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-17.png'), '#')
                %h3 Get Paid Through Safe Escrow System
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-18.png'), '#')
                %h3 Lower Service Fees
              %li.mb-panel
                = link_to(image_tag('icon-afree-1-19.png'), '#')
                %h3 Get Paid Faster
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesstie.png', 'data-start' => "top: -100px; right: -200px;", 'data-end' => "top: 600px; right: 150px;" )
    .parallaxitem= image_tag('NEWbusinesspenshadow.png', 'data-start' => "bottom: 0px; left: -300px;", 'data-end' => "bottom: -500px; left: 1200px;" )
    .parallaxitem= image_tag('NEWbusinesspen.png', 'data-start' => "bottom: 0px; left: -500px;", 'data-end' => "bottom: -1000px; left: 1000px;" )
#section-3.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Browse Jobs
      or
      %a.btn.btn-ctaction{:href => "#"} Post Profile
      = image_tag('NEWfree.png')
  .container 
    %h6 Too much work? Outsource it!
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-twelve.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-1.png'), '#')
                %h3 Post Projects
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-2.png'), '#')
                %h3 Recieve Estimates
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-3.png'), '#')
                %h3 Review Contractors
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-4.png'), '#')
                %h3 Evaluate Businesses
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-5.png'), '#')
                %h3 Review Freelancers
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-6.png'), '#')
                %h3 Negotiate Estimate Terms
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-7.png'), '#')
                %h3 Choose Contractors
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-8.png'), '#')
                %h3 Pay with Safe Escrow System
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-9.png'), '#')
                %h3 Manage Projects in the Cloud
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-10.png'), '#')
                %h3 Recieve Completed Work in the Cloud
              %li.mb-panel
                = link_to(image_tag('icon-biz-2-11.png'), '#')
                %h3 Store Files
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesslaptop.png', 'data-start' => "bottom: -500px; left: 100px;", 'data-end' => "bottom: -600px; left: -1000px;" )
    .parallaxitem= image_tag('NEWbusinesscoffee.png', 'data-start' => "top: 600px; right: 100px;", 'data-end' => "top: -500px; right: -200px;" )
#section-4.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Post a Project
      or
      %a.btn.btn-ctaction{:href => "#"} Browse Freelancers
      = image_tag('NEWfree.png')
  .container 
    %h6 Manage your projects easily.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-thirteen.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-1.png'), '#')
                %h3 Customizable Project Manager
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-2.png'), '#')
                %h3 Drag & Drop Feature
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-3.png'), '#')
                %h3 Task Management
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-4.png'), '#')
                %h3 Productivity Tools
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-5.png'), '#')
                %h3 Schedule Calls
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-6.png'), '#')
                %h3 Organize Meetings
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-7.png'), '#')
                %h3 File Sharing
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-8.png'), '#')
                %h3 File Storing
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-9.png'), '#')
                %h3 Invite Collaborators
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-10.png'), '#')
                %h3 Integrate Teams
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-11.png'), '#')
                %h3 Store Messages
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-12.png'), '#')
                %h3 Save Notes about the Project
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-13.png'), '#')
                %h3 Set & Meet Deadlines
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-14.png'), '#')
                %h3 Auto Updating Calendar
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinessclipboardshadow.png', 'data-start' => "top: 100px; right: 0px;", 'data-end' => "top: 300px; right: -100px;" )
    .parallaxitem= image_tag('NEWbusinessclipboard.png', 'data-start' => "top: -200px; right: -100px;", 'data-end' => "top: 200px; right: -100px;" )
    .parallaxitem= image_tag('NEWbusinesspuzzletop.png', 'data-start' => "top: -200px; left: -100px;", 'data-end' => "top: 400px; left: 0px;" )
    .parallaxitem= image_tag('NEWbusinesspuzzlebottom.png', 'data-start' => "bottom: 50px; left: -500px;", 'data-end' => "bottom: -100px; left: 300px;" )
#section-5.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Create a Project
      = image_tag('NEWfree.png')
  .container 
    %h6 
      More money. Less fees. 
      %br
      No brainer.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-fourteen.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-1.png'), '#')
                %h3 Industry's Lowest Service Fees
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-2.png'), '#')
                %h3 Free Invoicing
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-3.png'), '#')
                %h3 Track Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-4.png'), '#')
                %h3 Archive Collected Payments
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-5.png'), '#')
                %h3 Account for Overdue Balances
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-6.png'), '#')
                %h3 Itemize Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-7.png'), '#')
                %h3 Send Invoices to all your Clients
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-8.png'), '#')
                %h3 Recieve Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-9.png'), '#')
                %h3 No Payment Gateways Needed
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-10.png'), '#')
                %h3 Direct Deposit to your Account
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-11.png'), '#')
                %h3 Don't Wait for Withdrawals Ever!
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-12.png'), '#')
                %h3 Pay Contractors Faster
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-13.png'), '#')
                %h3 Lower Service Fees than our Competitors
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-14.png'), '#')
                %h3 Manage Expenses
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesscoin1.png', 'data-start' => "top: -1000px; left: 150px;", 'data-end' => "top: 1000px; left: 250px;" )
    .parallaxitem= image_tag('NEWbusinesscoin2.png', 'data-start' => "top: -600px; left: 0px;", 'data-end' => "top: 500px; left: 50px;" )
    .parallaxitem= image_tag('NEWbusinesscreditcard.png', 'data-start' => "top: 400px; right: -300px;", 'data-end' => "top: -200px; right: 0px;" )
#section-6.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Create Account
      = image_tag('NEWfree.png')
  .container 
    %h6 Easy communication with clients.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-fifteen.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-afree-5-1.png'), '#')
                %h3 Organize Clients
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-1.png'), '#')
                %h3 Messaging
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-2.png'), '#')
                %h3 Instant Messaging
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-3.png'), '#')
                %h3 Voice Chat
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-4.png'), '#')
                %h3 Contact Manager
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-5.png'), '#')
                %h3 Interview Online
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-6.png'), '#')
                %h3 Discuss Projects
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-7.png'), '#')
                %h3 Manage Teams
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-8.png'), '#')
                %h3 No More Email Digging
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinessheadphones.png', 'data-start' => "bottom: 0px; left: -200px;", 'data-end' => "bottom: -100px; left: 0px;" )
    .parallaxitem= image_tag('NEWbusinessmegaphone.png', 'data-start' => "top: 600px; right: 100px;", 'data-end' => "top: -500px; right: -200px;" )
#section-7.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Get Started
      = image_tag('NEWfree.png')
  .container 
    %h6 Grow your freelance business.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-sixteen.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-1.png'), '#')
                %h3 Find Businesses Looking to Outsource
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-2.png'), '#')
                %h3 Send Estimates
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-3.png'), '#')
                %h3 Negotiate Terms & Agreements
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-4.png'), '#')
                %h3 Manage Projects Online
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-5.png'), '#')
                %h3 Send/Track Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-6.png'), '#')
                %h3 Safe Escrow Payments
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-7.png'), '#')
                %h3 Communicate Easier
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-8.png'), '#')
                %h3 Market Your Business
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-9.png'), '#')
                %h3 Run PPC Ad Campaigns
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-10.png'), '#')
                %h3 Targeted Advertising
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-11.png'), '#')
                %h3 Pay for Performace Ads
              %li.mb-panel
                = link_to(image_tag('icon-biz-6-12.png'), '#')
                %h3 Collaborate with Business Owners
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesschart.png', 'data-start' => "top: 100px; right: 0px;", 'data-end' => "top: -300px; right: -200px;" )
    .parallaxitem= image_tag('NEWbusinesscalculator.png', 'data-start' => "bottom: -200px; left: 0px;", 'data-end' => "bottom: 50px; left: -300px;" )
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Advertise
      or
      %a.btn.btn-ctaction{:href => "#"} Find Clients
      = image_tag('NEWfree.png')