#section-1.section
  .container 
    %h5 
      How is WorkCheetah the Internet's
      %br
      fastest job network?
    %h4 See for yourself...
    = image_tag('lrgarrow.png', :class => "lrgarrow")
    .parallaxitem= image_tag('NEWemployeesbinoc.png', 'data-start' => "bottom: -100px; left: -20px;", 'data-end' => "bottom: 1000px; left: -1000px;" )
    .parallaxitem= image_tag('NEWemployeesnewspaper.png', 'data-start' => "top: 0px; right: -200px;", 'data-end' => "top: -1000px; right: -1000px;" )
#section-2.section
  .container 
    %h6 The internet's fastest job network.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-seven.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-1.png'), '#')
                %h3 Apply to Several Jobs at Once
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-2.png'), '#')
                %h3 Upload a Video to Impress Employers
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-3.png'), '#')
                %h3 Track your Applications
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-4.png'), '#')
                %h3 See who else is Applying to Jobs
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-5.png'), '#')
                %h3 Boost your Resume Score with Skills
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-6.png'), '#')
                %h3 Showcase Your Talent
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-7.png'), '#')
                %h3 Explain Your Experience
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-8.png'), '#')
                %h3 Upload References
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-9.png'), '#')
                %h3 Verify Your References for Credibility
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-10.png'), '#')
                %h3 Interview with Employers Online
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-11.png'), '#')
                %h3 Work Online
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-12.png'), '#')
                %h3 Reference Search
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-13.png'), '#')
                %h3 Manage Projects
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-14.png'), '#')
                %h3 Track Your Hours
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-15.png'), '#')
                %h3 Manage Your Job Offers
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-16.png'), '#')
                %h3 Organize Your Jobs
              %li.mb-panel
                = link_to(image_tag('icon-aemp-1-17.png'), '#')
                %h3 Get Paid Online
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesstie.png', 'data-start' => "top: -100px; right: -200px;", 'data-end' => "top: 600px; right: 150px;" )
    .parallaxitem= image_tag('NEWbusinesspenshadow.png', 'data-start' => "bottom: 0px; left: -300px;", 'data-end' => "bottom: -500px; left: 1200px;" )
    .parallaxitem= image_tag('NEWbusinesspen.png', 'data-start' => "bottom: 0px; left: -500px;", 'data-end' => "bottom: -1000px; left: 1000px;" )
#section-3.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Get Hired
      or
      %a.btn.btn-ctaction{:href => "#"} Search Jobs
      = image_tag('NEWfree.png')
  .container 
    %h6 Work in the cloud.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-eight.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-1.png'), '#')
                %h3 Customizable Project Manager
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-2.png'), '#')
                %h3 Drag & Drop Feature
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-3.png'), '#')
                %h3 Task Management
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-4.png'), '#')
                %h3 Productivity Tools
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-5.png'), '#')
                %h3 Schedule Calls
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-6.png'), '#')
                %h3 Organize Meetings
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-7.png'), '#')
                %h3 File Sharing
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-8.png'), '#')
                %h3 File Storing
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-9.png'), '#')
                %h3 Invite Collaborators
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-10.png'), '#')
                %h3 Integrate Teams
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-11.png'), '#')
                %h3 Store Messages
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-12.png'), '#')
                %h3 Save Notes about the Project
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-13.png'), '#')
                %h3 Set & Meet Deadlines
              %li.mb-panel
                = link_to(image_tag('icon-biz-3-14.png'), '#')
                %h3 Auto Updating Calendar
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesslaptop.png', 'data-start' => "bottom: -500px; left: 100px;", 'data-end' => "bottom: -600px; left: -1000px;" )
    .parallaxitem= image_tag('NEWbusinesscoffee.png', 'data-start' => "top: 600px; right: 100px;", 'data-end' => "top: -500px; right: -200px;" )
#section-5.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Create an Account
      = image_tag('NEWfree.png')
  .container 
    %h6 Get paid faster online.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-nine.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-1.png'), '#')
                %h3 Industry's Lowest Service Fees
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-2.png'), '#')
                %h3 Free Invoicing
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-3.png'), '#')
                %h3 Track Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-4.png'), '#')
                %h3 Archive Collected Payments
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-5.png'), '#')
                %h3 Account for Overdue Balances
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-6.png'), '#')
                %h3 Itemize Invoices
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-7.png'), '#')
                %h3 Send Invoices to all your Clients
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-9.png'), '#')
                %h3 No Payment Gateways Needed
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-10.png'), '#')
                %h3 Direct Deposit to your Account
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-11.png'), '#')
                %h3 Don't wait for Withdrawals  Ever!
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-13.png'), '#')
                %h3 Lower Service Fees than our Competitors
              %li.mb-panel
                = link_to(image_tag('icon-biz-4-14.png'), '#')
                %h3 Manage Expenses
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinesscoin1.png', 'data-start' => "top: -1000px; left: 150px;", 'data-end' => "top: 1000px; left: 250px;" )
    .parallaxitem= image_tag('NEWbusinesscoin2.png', 'data-start' => "top: -600px; left: 0px;", 'data-end' => "top: 500px; left: 50px;" )
    .parallaxitem= image_tag('NEWbusinesscreditcard.png', 'data-start' => "top: 400px; right: -300px;", 'data-end' => "top: -200px; right: 0px;" )
#section-6.section
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Create an Account
      = image_tag('NEWfree.png')
  .container 
    %h6 Stay in contact when out of the office.
    .container.zboxs
      .col-md-12
        .movingBoxes.mb-wrapper
          %a.mb-scrollButtons.mb-left
          .mb-scroll
            %ul#slider-ten.mb-slider
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-1.png'), '#')
                %h3 Messaging
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-2.png'), '#')
                %h3 Instant Messaging
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-3.png'), '#')
                %h3 Voice Chat
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-4.png'), '#')
                %h3 Contact Manager
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-5.png'), '#')
                %h3 Interview Online
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-6.png'), '#')
                %h3 Discuss Projects
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-7.png'), '#')
                %h3 Manage Teams
              %li.mb-panel
                = link_to(image_tag('icon-biz-5-8.png'), '#')
                %h3 No More Email Digging
              %li.mb-panel
                = link_to(image_tag('icon-aemp-5-9.png'), '#')
                %h3 Time Management
              %li.mb-panel
                = link_to(image_tag('icon-aemp-5-10.png'), '#')
                %h3 Message Co-Workers
          %a.mb-scrollButtons.mb-right
          .mb-left-shadow
          .mb-right-shadow
    = image_tag('thinarrowdown.png', :class => "thinarrowdown")
    .parallaxitem= image_tag('NEWbusinessheadphones.png', 'data-start' => "bottom: 0px; left: -200px;", 'data-end' => "bottom: -100px; left: 0px;" )
    .parallaxitem= image_tag('NEWbusinessmegaphone.png', 'data-start' => "top: 600px; right: 100px;", 'data-end' => "top: -500px; right: -200px;" )
  .cta
    .container
      %a.btn.btn-ctaction{:href => "#"} Get Started
      = image_tag('NEWfree.png')