.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .navbar-form.pull-right
      .nav
        - if user_signed_in?
          .dropdown
            = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
              = current_user.resume.present? && current_user.resume.name.present? && !current_user.resume.new_record? ? current_user.resume.name : current_user.email
              %b.caret
            %ul.dropdown-menu{ style: "background: black;"}
              - if ['employee'].include?(current_user.role?)
                - if current_user.resume.present?
                  %li= link_to "Edit My Resume", [current_user.resume], class: (current_user.resume == request.path ? "current" : "" )
                - else
                  %li= link_to "Edit My Resume", [:new, :resume], class: (new_resume_path == request.path ? "current" : "" )
              %li= link_to "Edit Email & Password", [:edit, :user]
              - if ['Freelancer', 'Business'].include?(current_user.role?) && current_user.account
                %li= link_to "My Account", account_path
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = form_for("user", :url => user_session_path, html: { class: "navbar-form" }) do |f|
            = link_to "Forgot password", new_user_password_path
            %span.field= f.email_field :email, placeholder: "Email", class: "input-medium"
            %span.field= f.password_field :password, placeholder: "Password", class: "input-medium"
            %span.action= f.submit "Sign in", class: "btn"
    .links-top-right
      %span.home= link_to "Home", root_path