.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .navbar-form.pull-right
      .nav
        - if user_signed_in?
          .dropdown
            = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
              = current_user.resume.present? && !current_user.resume.new_record? ? current_user.resume.name : current_user.email
              %b.caret
            %ul.dropdown-menu{ style: "background: black;"}
              - if user_signed_in? && current_user.account.nil?
                - if current_user.resume.present?
                  %li= link_to "Edit My Resume", [current_user.resume], class: (current_user.resume == request.path ? "current" : "" )
                - else
                  %li= link_to "Edit My Resume", [:new, :resume], class: (new_resume_path == request.path ? "current" : "" )
              %li= link_to "Change Password", [:change_password, :user]
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = form_for("user", :url => user_session_path, html: { class: "navbar-form" }) do |f|
            %span.field= f.email_field :email, placeholder: "Email", class: "input-medium"
            %span.field= f.password_field :password, placeholder: "Password", class: "input-medium"
            %span.action= f.submit "Sign in", class: "btn"
    .links-top-right
      %span.home= link_to "Home", root_path
      %span.search_jobs= link_to "Browse Jobs By Category", categories_path, class: (root_path == request.path ? "current" : "" )
      - if user_signed_in? && current_user.admin?
        = link_to "Admin", admin_path
      - if user_signed_in? && current_user.account.present?
        %span.my_account= link_to "My Account", account_path
        %span.my_jobs= link_to "My Jobs", my_jobs_path
      - if user_signed_in? && current_user.job_applications.any?
        %span.my_job_apps= link_to "My Job Applications", job_applications_path

      %span.post_a_job= link_to "Post a Job", [:new, :job], class: (new_job_path == request.path ? "current" : "" )
      - if user_signed_in? && current_user.account.nil?
        - if current_user.resume.present?
          %span.my_resume= link_to "My Resume", [current_user.resume], class: (current_user.resume == request.path ? "current" : "" )
        - else
          %span.create_my_resume= link_to "My Resume", [:new, :resume], class: (new_resume_path == request.path ? "current" : "" )