.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .navbar-form.pull-right
      .nav
        - if user_signed_in?
          .dropdown
            = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown"} do
              = current_user.resume.present? && current_user.resume.name.present? && !current_user.resume.new_record? ? current_user.resume.name : current_user.email
              %b.caret
            %ul.dropdown-menu{ style: "background: black;"}
              - if ['Employee', nil].include?(current_user.role?) # && current_user.account.nil?
                - if current_user.resume.present?
                  %li= link_to "Edit My Resume", [current_user.resume], class: (current_user.resume == request.path ? "current" : "" )
                - else
                  %li= link_to "Edit My Resume", [:new, :resume], class: (new_resume_path == request.path ? "current" : "" )
              %li= link_to "Edit Email & Password", [:edit, :user]
              - if ['Freelancer', 'Business'].include?(current_user.role?) && current_user.account
                %li= link_to "My Account", account_path
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = form_for("user", :url => user_session_path, html: { class: "navbar-form" }) do |f|
            = link_to "Forgot password", new_user_password_path
            %span.field= f.email_field :email, placeholder: "Email", class: "input-medium"
            %span.field= f.password_field :password, placeholder: "Password", class: "input-medium"
            %span.action= f.submit "Sign in", class: "btn"
    .links-top-right
      %span.home= link_to "Home", root_path
      - if user_signed_in?
        - if ['Business'].include?(current_user.role?)
          = link_to "Get Business", "javascript:void(0);"
          = link_to "Project Mgr", "javascript:void(0);"
          = link_to "Recruiting", "javascript:void(0);"
          = link_to "Staff", "javascript:void(0);"
          = link_to "Accounting", "javascript:void(0);"
          = link_to "Contacts", "javascript:void(0);"
          = link_to "My Business", "javascript:void(0);"
        - elsif ['Freelancer'].include?(current_user.role?)
          = link_to "Find Clients", "javascript:void(0);"
          = link_to "Project Mgr", "javascript:void(0);"
          = link_to "Accounting", "javascript:void(0);"
          = link_to "Contacts", "javascript:void(0);"
          = link_to "My Profile", "javascript:void(0);"
        - else
          = link_to "Find Work", categories_path, class: (root_path == request.path ? "current" : "" )
          = link_to "Task Mgr", "javascript:void(0);"
          = link_to "My Resume", "javascript:void(0);"
          = link_to "Messages", "javascript:void(0);"
          = link_to "Contacts", "javascript:void(0);"

        - if current_user.admin?
          = link_to "Admin", admin_path
        - elsif current_user.moderator?
          = link_to "Moderator", moderator_path
        - elsif current_user.advertiser?
          = link_to "Advertiser", advertisers_advertisers_path

        - if current_user.job_applications.any?
          %span.my_job_apps= link_to "My Job Applications", job_applications_path

        - if should_have_job_link?(current_user)
          %span.post_a_job= link_to "Post a Job", job_info_path, class: (new_job_path == request.path ? "current" : "" )

        - if should_have_resume_link?(current_user)
          - if current_user.resume.present?
            %span.my_resume= link_to "My Resume", [current_user.resume], class: (current_user.resume == request.path ? "current" : "" )
          - else
            %span.create_my_resume= link_to "Get Hired", resume_info_path, class: (new_resume_path == request.path ? "current" : "" )

        = link_to "Interviews", video_chats_path
        = link_to "Messages", conversations_path
        = link_to "javascript: return false;", title: "Notifications", id: "notifications" do
          %i.icon-globe

        :javascript
          $('#notifications').popover({content: "#{j render current_user.notifications.order('created_at DESC')}", placement: "bottom", html: true});