= simple_form_for(@shift) do |f|
  = f.error_notification

  = f.input :employee_id, collection: @staffers, allow_blank: false
  = f.input :schedule_date, as: :date
  = f.input :start_hour, as: :string
  = f.input :end_hour, as: :string
  = f.input :creator_id, as: :hidden, input_html: { value: current_user.account_id }

  = f.button :submit

  %script
    $('#shift_start_hour').datetimepicker({dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm:ss'});
    $('#shift_end_hour').datetimepicker({dateFormat: 'yy-mm-dd'});