.container
  .row
    .col-md-2
      = link_to "New Schedule", new_shift_path, class: "btn btn-large btn-success" unless current_user.role == 'employee'
      %ul.nav.nav-list
        %li.nav-header Staff
      - if @staffers && current_user.role == 'business'
        = render 'staffer_list'
    .col-md-10
      #index
        .row
          .col-md-12
            #invite= render 'shifts/invitational', invitational: @invitational unless @invitational.nil?
        .row
          .col-md-12
            - if current_user.role == 'business'
              #shift_calender
            - else
              = render 'client_calendar'
              :javascript
                $('#client_calendar').fullCalendar({
                  defaultView: 'agendaWeek',
                  events: $('#client_calendar').data('shifts'),
                  eventClick: function(calEvent, jsEvent, view){
                    jsEvent.preventDefault()
                  }
                });
        .row
          .col-md-12
            #shift_table= render 'shift_table'
  #shift_modal.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-hidden' => 'true', style: 'width: 52%' }
    .modal-dialog
      .modal-content
        .modal-header
        .modal-body
        .modal-footer