.container
  %h2 Projects
  .row
    .col-md-2
      = link_to "Add a project", new_project_path, class: "btn btn-primary btn-success"
    .col-md-6
      - if @revenue
        %p.lead Revenue
        = number_to_currency Money.new(@revenue, "USD").to_s
  .row
    .col-md-12
      %h3 My Projects
      %ul.projects.list-unstyled{"data-update-url" => sort_projects_url}
        - @owned_projects.each do |project|
          = content_tag_for :li, project, class: "panel ui-state-default", style: "width:250px;padding:3px;text-align:center;min-height:300px;float:left;margin:3px 3px 3px 3px 0" do
            = render project.project
  .row
    .col-md-12
      %h3 Projects I'm collaborating on
      %ul.projects.list-unstyled{"data-update-url" => sort_projects_url}
        - unless @callaboration_projects.empty?
          - @callaboration_projects.each do |project|
            = content_tag_for :li, project, class: "panel ui-state-default projectOverview" do
              = render project.project
        - else
          %p.lead None
