.container
  .row
    .col-md-3
      %lead Project
      %h2= @project.title
      %hr/
      %p
        %h3 Project Manager
        %lead= @project.owner.name
      %p
        %h3 Project Participants
        %lead
          - if @project.participants(current_user).empty?
            #invite= render 'projects/invitational'
          - else
            = @project.participants(current_user).first.name
    .col-md-4.pull-right
      = render 'time_manager'
  %hr/
  .row
    .col-md-12
      %h3 Tasks
      = render 'tasks/form', project: @project
      .col-md-4
        %p.lead To Do
        %ul#to_do.connectedSortable.list-unstyled{"data-type" => "to_do", "data-update-url" => sort_tasks_url, data: {project_id: @project.id}}
          = render partial: "tasks/detailed_task", collection: @project.tasks.to_do, as: :task
      .col-md-4
        %p.lead Doing
        %ul#doing.connectedSortable.list-unstyled{"data-type" => "doing", "data-update-url" => sort_tasks_url, data: {project_id: @project_id}}
          = render partial: "tasks/detailed_task", collection: @project.tasks.doing, as: :task
      .col-md-4
        %p.lead Done
        %ul#done.connectedSortable.list-unstyled{"data-type" => "done", "data-update-url" => sort_tasks_url, data: {project_id: @project_id}}
          = render partial: "tasks/detailed_task", collection: @project.tasks.done, as: :task
  .row
    .col-md-5
      %h3 Documents
      = link_to "Upload Document", new_project_project_document_url(@project.id), :class=>"btn btn-primary btn-small pull-right"
      %br
      %br
      %ul#document_list.list-unstyled{data: {project_id: @project.id}}
        = render partial: "project_documents/document_list", collection: @project.project_documents, as: :document
  .row
    .col-md-10
      %hr/
      %h3 Comments
      %ul.list-unstyled#comments
        = render partial: "comments/comment", collection: @comments, as: :comment
      = render 'comments/form'
#taskform.col-md-10.modal.fade{tabindex:"-1", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
      .modal-body
      .modal-footer
#timesheetform.modal.fade{tabindex:"-1", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
      .modal-body
      .modal-footer


