.row
  .span3
    %lead Project
    %h1= @project.title
  .span4.pull-right
    = link_to "Log Time", [:new,@project,:timesheet], class: "btn btn-primary btn-success"
%hr/
.row
  .span4
    %h2 Tasks
    %ul#detailed_tasks.unstyled{data: {project_id: @project.id}}
      = render partial: "tasks/detailed_task", collection: @project.tasks, as: :task
  .span4
    %h2 Documents
    = link_to "Upload Document", new_project_project_document_url(@project.id), :class=>"btn btn-primary btn-small pull-right"
    %br
    %br
    %ul#document_list.unstyled{data: {project_id: @project.id}}
      = render partial: "project_documents/document_list", collection: @project.project_documents, as: :document
.row
  .span8
    %hr/
    %h2 Comments
    %ul.unstyled#comments
      = render partial: "comments/comment", collection: @comments, as: :comment
    = render 'comments/form'
#taskform.modal.fade{tabindex:"-1", role: "dialog"}
#timesheetform.modal.fade{tabindex:"-1", role: "dialog"}


