%h3 Activity Feed
- if @activities
  - @activities.each do |activity|
    .row
      .span10
        = "#{raw(activity.message)} #{time_ago_in_words(activity.created_at)} ago..."
        = link_to("View job details", activity.job)
  .row
    .span10
      = link_to 'More', activities_path
