.row
  .span1
    sidebar ads
  .span8
    .row
      .span8
        = link_to "Post a Job", new_job_path, class: "btn btn-primary btn-large pull-right"
      .span4
        %h3 Activity Feed
      .span4
        = render @project
    .row
      #adcarousel.span8.hero-unit
        %h2 Our Partners want you to know…
        .carousel.slide#adsCarousel
          %a.carousel-control.left{ :href => '#adsCarousel', :'data-slide' => 'prev' } &lsaquo;
          .carousel-inner
            .active.item{ style: 'color: #fff; margin-left: 2em;' }
              %ul.thumbnails
                -# - @business_ads_group[0..(@business_ads_group.size/2)-1].each do |ad|
                -#   %li.span2
                -#     %a.thumbnail{ href: 'javascript:void(0);' }
                -#       = ad.content
              -# %ul.thumbnails
              -#   - @business_ads_group[@business_ads_group.size/2..@business_ads_group.size-1].each do |ad|
              -#     %li.span2
              -#       %a.thumbnail{ href: 'javascript:void(0);' }
              -#         = ad.content
          -# %a.carousel-control.right{ :href => root_path(offset: @business_ads_group.size), :'data-slide' => 'next' }
          %a.carousel-control.right{ :href => root_path, :'data-slide' => 'next' } &lsaquo;
    .row
      .span3.well
        #calendar
      .span3.well
        = render 'shared/calculator'
    .row
      .span8
        %h2 Business tips
        - if @business_articles.present?
          - @business_articles.each do |article|
            = article.title
        - else
          No new articles
  .span1
    = render partial: 'advertisers/advertisements/ad', collection: @sidebar_ads, as: :ad

