.admin
  .header_box
    = render "shared/header_nav"
  .header
    .logo= link_to image_tag("logo-large5.png"), root_path
  .content
    %h1 Admin Dashboard
    .row
      .span5
        %h3 Latest Jobs
        - if @jobs.any?
          %ul
            - @jobs.each do |job|
              %li= link_to job.title, job
          %p
            Total Jobs:
            = @jobs.count
          %h3 Newest Resume
          %ul
            - @resumes.each do |resume|
              %li= link_to resume.name, resume
          %p
            Total Jobs:
            = @resumes.count
        - else
          %p Sorry, no jobs exist.
        %h3 Latest Accounts
        - if @accounts.any?
          %ul
            - @accounts.each do |account|
              %li= link_to account.name, accounts_path + "/#{account.id}"

          %p
            = link_to "View All Accounts", accounts_path
            = " - "
            Total Accounts:
            = @accounts.count
      .span5
        %h3 Latest Seal Purchases
        - if @seal_purchases.any?
          %table{ style: "width: 100%;" }
            %tr 
              %th Company
              %th Amount
              %th Purchase Date
            - @seal_purchases.each do |seal_purchase|
              %td= seal_purchase.account.name
              %td= "$ #{seal_purchase.amount / 100}"
              %td= seal_purchase.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%m/%d/%Y %l:%m %P %Z")
        - else
          %p Sorry, no purchases have occurred yet.

        / %h3 Resume Purchases
        / - if @applicant_accesses.any?
        /   %table{ style: "width: 100%;" }
        /     %tr
        /       %th Company
        /       %th Applicant
        /       %th Purchase Date
        /     - @applicant_accesses.each do |applicant_access|
        /       %tr
        /         %td= applicant_access.account.name
        /         %td= applicant_access.job_application.user.resume.name
        /         %td= applicant_access.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%m/%d/%Y %l:%m %P %Z")

        /   %p
        /     %br/
        /     Total Purchases:
        /     = number_to_currency(@applicant_accesses_count * 0.99)
        /     %br/
        /     Today's Purchases:
        /     = number_to_currency(@applicant_accesses_today_count * 0.99)

        /     %br/
        /     Last 7 Days Purchases:
        /     = number_to_currency(@applicant_accesses_last_7_days_count * 0.99)

        /     %br/
        /     Last 28 Days Purchases:
        /     = number_to_currency(@applicant_accesses_last_28_days_count * 0.99)
        / - else
        /   %p Sorry, no purchases have occurred yet.

        %h3 Moderators
        %ul
          - @moderators.each do |moderator|
            %li
              = moderator.email
              = link_to "Delete", destroy_moderator_path(moderator), method: :delete
        = form_for(User.new, :url => { controller: "users", :action => "create_moderator" }) do |f|
          = f.email_field :email, placeholder: "Email"
          = f.password_field :password, placeholder: "Password"
          = f.submit "Create moderator", class: "btn btn-success"

        %h3
          = link_to "Tweets", tweets_path

        %h3
          Users to message

        %ul 
          - User.find_each do |user|
            %li= link_to user.name, new_conversation_path(recipient_id: user)


  .footer
    = render "shared/footer"