.home
  .header_box
    = render "shared/header_nav"
  - if flash.any?
    .flash.row
      .span12
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
  .search_content.row
    .search_box.span12
      .logo= image_tag("logo-large5.png")
      .search_form= render "jobs/search_form"

  .content
    %h2 WorkCheetah is a Different & Better Job Engine
    .columns.columns_two
      .column.c1
        .difference
          %h3
            Employers Can
            = link_to "Post Jobs For Free", new_job_path
          %p
            When someone applies to your job, you can preview their resume.
            Like what you see? See their full resume and contact info for $0.99
        .difference
          %h3 Private Jobs Portal for Employers
          %p
            Customize the look of WorkCheetah to match your brand and off-load
            the jobs section of your website to us.
      .column.c2
        .difference
          %h3
            Job Seekers Know When Things Happen
          %p
            Unlike other job sites, WorkCheetah is not a blackhole. When you apply for a job, you’ll know when your resume is viewed, shortlisted or discarded.
        .difference
          %h3
            Video Resumes Bring Life & Character
          %p
            For some industries, such as sales and customer support, personality and people skills matter significantly. Video let’s the strongest canidates shine.

    %hr.divider
    %h2 News & Resources
    .articles
      - @articles.each do |article|
        - @side = cycle("left", "right")
        .article_box
          .article{ class: @side }
            %h3= link_to article.title, article
            %p.teaser= ActionView::Base.full_sanitizer.sanitize(article.body).truncate(200)
        - if @side == "right"
          .clearfix
  .footer
    = render "shared/footer"

