-# coding: UTF-8

.home
  .header_box
    = render "shared/header_nav"
  - if flash.any?
    .flash.row
      .span12
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg

  - if user_signed_in?
    - if ['Business'].include?(current_user.role?)
      %span.post_a_job= link_to "Post a Job", job_info_path, class: (new_job_path == request.path ? "current btn" : "btn" )
      %h2{ style: 'color: #fff;' }
        Recruiting Advice
        - if @business_articles.present?
          - @business_articles.each do |article|
            = article.title
      %h2{ style: 'color: #fff;' } Our Partners want you to know…
      .carousel.slide#adsCarousel
        %a.carousel-control.left{ :href => '#adsCarousel', :'data-slide' => 'prev' } &lsaquo;
        .carousel-inner
          .active.item{ style: 'color: #fff; margin-left: 2em;' }
            %ul.thumbnails
              - @business_ads_group[0..(@business_ads_group.size/2)-1].each do |ad|
                %li.span2
                  %a.thumbnail{ href: 'javascript:void(0);' }
                    = ad.content
            %ul.thumbnails
              - @business_ads_group[@business_ads_group.size/2..@business_ads_group.size-1].each do |ad|
                %li.span2
                  %a.thumbnail{ href: 'javascript:void(0);' }
                    = ad.content
        %a.carousel-control.right{ :href => root_path(offset: @business_ads_group.size), :'data-slide' => 'next' } &rsaquo;
      %h2{ style: 'color: #fff;' } Calender will appear here...
    - elsif ['Freelancer'].include?(current_user.role?)
      = render partial: 'search_form'
      %h2{ style: 'color: #fff;' }
        Freelancing tips
        - if @freelancing_articles.present?
          - @freelancing_articles.each do |article|
            = article.title
      %h2{ style: 'color: #fff;' } Our Partners want you to know…
      .carousel.slide#adsCarousel
        %a.carousel-control.left{ :href => '#adsCarousel', :'data-slide' => 'prev' } &lsaquo;
        .carousel-inner
          .active.item{ style: 'color: #fff; margin-left: 8em;' }
            %ul.thumbnails
              - @freelancer_ads_group[0..(@freelancer_ads_group.size/2)-1].each do |ad|
                %li.span2
                  %a.thumbnail{ href: 'javascript:void(0);' }
                    = ad.content
            %ul.thumbnails
              - @freelancer_ads_group[@freelancer_ads_group.size/2..@freelancer_ads_group.size-1].each do |ad|
                %li.span2
                  %a.thumbnail{ href: 'javascript:void(0);' }
                    = ad.content
        %a.carousel-control.right{ :href => root_path(offset: @freelancer_ads_group.size), :'data-slide' => 'next' } &rsaquo;
      %h2{ style: 'color: #fff;' } Calender will appear here...
    - else
      = render partial: 'search_form'
      %h2{ style: 'color: #fff;' }
        Job Hunting tips
        - if @employee_articles.present?
          - @employee_articles.each do |article|
            = article.title
  - else
    .search_content.row
      .search_box.span12
        - if user_signed_in? && ['Freelancer', 'Business'].include?(current_user.role?) # and current_user.account
          .logo
            %img{:src => "assets/logo-large5.png", :alt => "large logo", style: "width: 70%;"}/
            / = image_tag "logo-large5.png"
        - else
          .logo= image_tag("logo-large5.png")
        - if current_user
          - if ['Employee', nil].include?(current_user.role?) # !current_user.account
            .search_form= render "jobs/search_form"
        - else
          .search_form= render "jobs/search_form"

    = link_to "Post Your Resume", new_resume_path, class: "btn btn-success btn-large"
    = link_to "Post Your Job", new_job_path, class: "btn btn-primary btn-large"

    - if @articles.any?
      %hr.divider
      %h2 News &amp; Resources
      .articles
        - @articles.each do |article|
          - @side = cycle("left", "right")
          .article_box
            .article{ class: @side }
              %h3= link_to article.title, article
              %p.teaser= strip_tags(article.body).truncate(200).html_safe
          - if @side == "right"
            .clearfix
        .clearfix
  .footer
    = render "shared/footer"

