.home
  .search_content
    .logo= image_tag "logo-large.png"
    .search_box.span8= render "jobs/search_form"
  .employers_box
    .container
      .employers
        %h2
          Employers:
          = link_to "Post your job for free", [:new, :job]
        %ul
          %li Free to post your job.
          %li Free to preview job applicant resumes.
          %li Pay $0.99 to see full job applicant resume.
        = link_to new_job_path, class: "btn" do
          %i{ class: "icon-plus-sign"}
          Post a Job
      .footer
        = render "shared/footer"