.home
  .header_box
    = render "shared/header_nav"
  - if flash.any?
    .flash.row
      .span12
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
  .search_content.row
    .search_box.span12
      .logo= image_tag("logo-large5.png")
      .search_form= render "jobs/search_form"

  %a{ name: "how"}
  .content
    %h2{ style: "font-style: italic; font-size: 36px" } How Is WorkCheetah The Fastest Job Network?
    .columns.columns_two
      .column.c1
        %h3 Job Seekers
        .difference
          = image_tag "radar.jpg", class: "align-left"
          %h4 Track Your Application
          %p Know when your application has been viewed, shortlisted or declined instantly.
        .difference
          = image_tag "competition.jpg", class: "align-left"
          %h4 Know Your Competition
          %p See who’s applying to jobs you’re interested in and how you stack up against them.
        .difference
          = image_tag "fresh.jpg", class: "align-left"
          %h4 Fresh Job Inventory
          %p No more stale jobs. If it’s on WorkCheetah, it’s still available.
        .difference
          = image_tag "video-player.jpg", class: "align-left"
          %h4 Bring Your Resume To Life
          %p Add a video to your resume to show employers what your resume can’t.
        .difference
          = image_tag "seal.jpg", class: "align-left"
          %h4 Safe Job Search
          %p Look for the Safe Job seal to know it’s a legitimate opportunity, and not a scam.
        .action
          = link_to "Post Your Resume", new_resume_path, class: "btn btn-success btn-large"
          or
          = link_to "Browse jobs", categories_path
      .column.c2
        %h3 Employers
        .difference
          = image_tag "hiring.jpg", class: "align-left"
          %h4= link_to "Post Your Job For Free", new_job_path
          %p Reach qualified candidants in your area without paying a penny.
        .difference
          = image_tag "brand.jpg", class: "align-left"
          %h4 Customized Job Portal
          %p Manage applicants through your branded company dashboard.
        .difference
          = image_tag "video-camera.jpg", class: "align-left"
          %h4 Video Is  Worth a Billion Words
          %p Know who you’re hiring quickly by seeing what the resume doesn’t show you.
        .difference
          = image_tag "seal.jpg", class: "align-left"
          %h4 Attract Quality Candidates
          %p Gain trust of potential applicants by verifying your company with WorkCheetah.
        .difference
          = image_tag "ppa.jpg", class: "align-left"
          %h4 Pay Only For Applicants You Want
          %p Post jobs for free. Preview all applicants. Keep the ones you want.
        .action
          = link_to "Post Your Job", new_job_path, class: "btn btn-primary btn-large"

    %hr.divider
    %h2 News & Resources
    .articles
      - @articles.each do |article|
        - @side = cycle("left", "right")
        .article_box
          .article{ class: @side }
            %h3= link_to article.title, article
            %p.teaser= ActionView::Base.full_sanitizer.sanitize(article.body).truncate(200)
        - if @side == "right"
          .clearfix
  .footer
    = render "shared/footer"

