.white_box
  #how_it_works
    %p.lead
      How Job Posting on Workcheetah Works
    %ul.unstyled
      %li.row
        .span4
          %h3 Post your job
          %p
            Posting a job on WorkCheetah is completely free. No hidden charges! (picture of a cartoon "help wanted" ad)
        .span4= image_tag "how-it-works1.jpg"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 2. Verify your Account
          %p
            After posting your job you can choose to verify your account and ensure applicants your a legitimate employer. Also includes some cool upgrades. (picture of my verification seal-"the green version of my logo."
      %li.row
        .span4
          %h3 3. Receive applicants
          %p
            See a snapshot of what candidates have to offer your organization. (Picture of a resume or Businessman looking at paperwork)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 4. See for yourself
          %p
            Don't believe the hype of a resume. Video resumes provide transparency to applicant's abilities! (picture of a film or a video camera)
      %li.row
        .span4
          %h3 5. Screen the best
          %p
            Use your dashboard to sort through the talent and find the right candidates to shortlist. (a picture of a group with many shaded out and a few highlighted)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 6. Interview who's left
          %p
            (conduct full video chat interviews right from your dashboard)-(picture of two people having a video chat)
      %li.row
        .span4
          %h3 Hire
          %p
            Find the best candidates, screen, and conduct interviews all on the same platform. Free) (picture of WorkChetah logo with the tagline- internet's fastest job network)
        .span4= image_tag "http://placehold.it/350x150"
      =link_to "Get Started", [:new, :job], class: "btn btn-primary btn-large"
