.white_box
  #how_it_works
    %p.lead
      How Job Searching on Workcheetah Works
    %ul.unstyled
      %li.row
        .span4
          %h3 1. Build your resume
          %p
            Crafting a strong resume on WorkCheetah is simple and an important step in getting employers to invite you to their job listings. (i really don't know)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 2. Add a video
          %p Show companies what your resume can't by uploading a video! (Person recording a video)
      %li.row
        .span4
          %h3 3. Receive invitations to compatible jobs
          %p
            Receive invitations from employers looking for candidates like you. (envelopes flying through an office or city)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 4. Quick Apply
          %p
            No more annoying links to company career sites. Simply click apply to send businesses your application. (picture of the blue apply button)
      %li.row
        .span4
          %h3 5. Track your applications
          %p
            More transparency into what stage you are in the hiring process. (Radar picture)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 6. See who your competing with
          %p See a glimpse of who your competition and how you compare. (i don't know)
      %li.row
        .span4
          %h3 7. Interview right from home
          %p Employers will interview you directly on WorkCheetah. Never be late for an interview again! (video chat pic)
        .span4= image_tag "http://placehold.it/350x150"
      %li.row
        .span4= image_tag "http://placehold.it/350x150"
        .span4
          %h3 8. Get Hired
          %p Build a online work profile, search job listings, and get invited to open positions all on the same platform. (picture of WorkCheetah logo)
    =link_to "Get Started", [:new, :resume], class: "btn btn-primary btn-large"
