#how_it_works
  %h1 How Job Searching on Workcheetah Works
  %ul.unstyled
    %li.row
      .span4
        %h2 1. Build your resume
        %p.lead
          Crafting a strong resume on WorkCheetah is simple and an important step in getting employers to invite you to their job listings. (i really don't know)
      .span4= image_tag "http://placehold.it/350x150"
    %li.row
      .span4= image_tag "http://placehold.it/350x150"
      .span4
        %h2 2. Add a video
        %p.lead Show companies what your resume can't by uploading a video! (Person recording a video)
    %li.row
      .span4
        %h2 3. Receive invitations to compatible jobs
        %p.lead
          Receive invitations from employers looking for candidates like you. (envelopes flying through an office or city)
      .span4= image_tag "http://placehold.it/350x150"
    %li.row
      .span4= image_tag "http://placehold.it/350x150"
      .span4
        %h2 4. Quick Apply
        %p.lead
          No more annoying links to company career sites. Simply click apply to send businesses your application. (picture of the blue apply button)
    %li.row
      .span4
        %h2 5. Track your applications
        %p.lead
          More transparency into what stage you are in the hiring process. (Radar picture)
      .span4= image_tag "http://placehold.it/350x150"
    %li.row
      .span4= image_tag "http://placehold.it/350x150"
      .span4
        %h2 6. See who your competing with
        %p.lead See a glimpse of who your competition and how you compare. (i don't know)
    %li.row
      .span4
        %h2 7. Interview right from home
        %p.lead Employers will interview you directly on WorkCheetah. Never be late for an interview again! (video chat pic)
      .span4= image_tag "http://placehold.it/350x150"
    %li.row
      .span4= image_tag "http://placehold.it/350x150"
      .span4
        %h2 8. Get Hired
        %p.lead Build a online work profile, search job listings, and get invited to open positions all on the same platform. (picture of WorkCheetah logo)
  =link_to "Get Started", [:new, :resume], class: "btn btn-primary btn-large"
