%tr
  %td= c.name.blank? ? "Campaign not titled" : c.name.humanize
  %td= number_to_currency c.budget
  %td= format_target_audience c.target_audience
  %td Active
  %td
    %dl.horizontal
      %dt Todays Impressions
      %dd= c.daily_total_impressions
      %dt Todays Clicks
      %dd= c.daily_total_clicks
  %td= link_to "Details", advertisers_campaign_path(c), class: "btn btn-primary"