= form_for @validation_request do |f|
  .field
    = f.label :name, "Company Legal Name"
    = f.text_field :name
  .field
    = f.label :ein, "EIN"
    = f.text_field :ein
  .field
    %p Are any of the positions within your organization "Commission only" opportunities?
    = f.radio_button :commission_only, "0", style: "float: left; margin-right: 5px;"
    = f.label :commission_only_0, "No", style: "float: left;  margin-right: 10px;"
    = f.radio_button :commission_only, "1", style: "float: left; margin-right: 5px;"
    = f.label :commission_only_1, "Yes", style: "float: left"
    .clearfix
    %br/

  .action= f.submit "Submit Validation Seal Request", class: "btn btn-success"