= simple_form_for @validation_request, html: {role: "form"} do |f|
  = f.error_notification
  .form-group
    = f.input :profit, label: "For profit?"
  .form-group
    = f.input :name, label: "Company Legal Name"
  .form-group
    = f.fields_for @validation_request.build_address do |af|
      = af.input :address_1
      = af.input :address_2
      = af.input :city
      = af.input :state
      = af.input :zip
    = f.input :contact_person
    = f.input :contact_email
    = f.input :ein, label: "EIN"
    = f.input :contact_phone
    = f.input :commission_only, label: 'Are any of the positions within your organization "Commission only" opportunities?'
    = f.input :independent_distributorship_opportunity, label: 'Is this an Independent distributorship opportunity?'
    .clearfix
    %br/

  .form-actions
    = f.submit "Submit Validation Seal Request", class: "btn btn-success"