- if job.title.present?
  %h1
    = link_to job.title, job
    - if job.account.safe_job_seal?
      = link_to(image_tag("safe-seal-small.png", alt: "Safe Job seal"), job)
  %ul
    %li
      %strong Salary
      = job.yearly_compensation or "n/a"
    %li
      %strong Job Description
      = job.description.html_safe
    %li
      %strong About This Company
      = job.account.name
    %li
      - if job.remote?
        %span.label.label-info REMOTE JOB