<h1>Listing advertisers_advertisements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Campaign</th>
    <th>Text</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Priority</th>
    <th>Confirmed</th>
    <th>Width</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertisers_advertisements.each do |advertisers_advertisement| %>
  <tr>
    <td><%= advertisers_advertisement.title %></td>
    <td><%= advertisers_advertisement.url %></td>
    <td><%= advertisers_advertisement.campaign_id %></td>
    <td><%= advertisers_advertisement.text %></td>
    <td><%= advertisers_advertisement.start_time %></td>
    <td><%= advertisers_advertisement.end_time %></td>
    <td><%= advertisers_advertisement.priority %></td>
    <td><%= advertisers_advertisement.confirmed %></td>
    <td><%= advertisers_advertisement.width %></td>
    <td><%= advertisers_advertisement.height %></td>
    <td><%= link_to 'Show', advertisers_advertisement %></td>
    <td><%= link_to 'Edit', edit_advertisers_advertisement_path(advertisers_advertisement) %></td>
    <td><%= link_to 'Destroy', advertisers_advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advertisement', new_advertisers_advertisement_path %>
