.container
  .row
    .span2
      = render 'advertisers/shared/sidebar_nav'
    .span10
      %p
        %b Title:
        = @advertisement.title
      %p
        %b Url:
        = @advertisement.url
      %p
        %b Text:
        = @advertisement.content
      %p
        %b Start time:
        = @advertisement.start_time
      %p
        %b End time:
        = @advertisement.end_time
      %p
        %b Confirmed:
        = @advertisement.confirmed
      = link_to "Back to Campaign", advertisers_campaign_path(@advertisement.campaign)