.school.fields_for_set
  %fieldset
    .row
      .form-group.col-md-3
        %label Merit Recieved
        = f.input :highest_merit, label: false, collection: School::HIGHEST_MERIT, input_html: {class: "form-control"}
      .form-group.col-md-3
        %label Course of Study
        = f.input :course_of_study, as: :grouped_select, :group_method => :last, label: false, collection: School::COURSE_OF_STUDY, input_html: {class: "form-control"}
      .form-group.col-md-3
        %label School Name
        = f.input :name, label: false, input_html: {class: "form-control"}
      .form-group.col-md-2
        %label Graduation Yr
        = f.input :completion_year, label: false, collection: (1900..2014).to_a.reverse, input_html: {class: "form-control"}
      .form-group.col-md-1
        = f.hidden_field :_destroy
        .remove{style: "margin-top:25px"}
          = link_to "Remove", '#', class: "remove_fields btn-sm btn-primary"