.job_applicants_show
  .white_box
    - if @resume.present?
      -if @job && @job_application
        - if can? :manage, @job
          .pull-right{ style: "text-align: center;" }
            = link_to "Save applicant", [:buy, @job, @job_application], class: "btn btn-large btn-success", method: :post
            %br/
            or
            %br/
            = link_to "Not Interested", [:reject, @job, @job_application], class: "btn btn-danger", method: :post
            %br/
            %br/
            %p Please pick one
      -elsif ['freelancer','business'].include?(current_user.role?)
        - if current_user.account.present? and !current_user.account.jobs.empty?
          - if @available_jobs.empty?
            You have already invited this user to this job.
          - else
            - if current_user.account.has_invite_credits?
              %lead Invite to a job
              = form_tag invite_job_seekers_to_job_path do |f|
                = hidden_field_tag :resume_id, @resume.id
                = select_tag 'job', options_from_collection_for_select(@available_jobs, 'id', 'title')
                = submit_tag 'invite'
            - else
              = render "resumes/shared/invites_credits"
        - else
          %p You must post a job before inviting applicants.
          = link_to "post a job", new_job_path
      %h1.pagination-centered Preview
      - if user_signed_in? and current_user.resume.present?
        .alert.alert-block.alert-info
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
        Due to privacy, you can see limited information about your competition.
      %dl.dl-horizontal
        %dt Resume Score
        %dd{style:"padding-left:30px"}
          = render_rating_display @resume.rating
        %dt Name
        %dd{style:"padding-left:30px"}
          %p.lead= @resume.user.name
        %dt Skills
        %dd{style:"padding-left:30px"}
          %p.lead
            - if @resume.skills.any?
              = @resume.skills.map(&:name)*", "
            - else
              None
        %dt Highest Merit Earned
        %dd{style:"padding-left:30px"}
          %p.lead
            - if @resume.schools.any?
              = @resume.highest_merit_earned
            - else
              None
        %dt Employment Status
        %dd{style:"padding-left:30px"}
          %p.lead= @resume.status