.container
  .col-md-2.ads
    .well
      %h3 Jobs Available in Finance!
      = link_to(image_tag('ad1img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Free ipad and a nice chair! Plus money!
      = link_to(image_tag('ad2img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Jobs Available in Medicine!
      = link_to(image_tag('ad3img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
  .col-md-8
    .row
      .col-md-8.col-sm-8.companyinfo
        .well
          %h1= @resume.name
          %h3= @resume.resume_type.humanize
          %ul
            - if @resume.addresses.any?
              %li
                %h3 Location:
                = @resume.addresses.first.city_state
            %li
              %h3 Brief Description:
              - if @resume.schools.any?
                = @resume.highest_merit_earned
              - else
                None
        - unless current_user.role == 'employee'
          = render 'resumes/profile_actions'
      - unless current_user.role == 'employee'
        .col-md-4.col-sm-4.companyinfo
          .well
            - if @resume.user.account.present?
              - account = @resume.user.account
              = link_to(image_tag(account.logo_url), account.website, :class => 'adimg')
              .simplelink
                = link_to "Update Logo", account_path(account, part: "company")
    .row
      .col-md-12.companydetails
        .well
          = link_to "Edit Profile", [:edit, @resume], class: "btn btn-viewall" if current_user == @resume.user
          %h1 Services
          - if @resume.skills.any?
            = @resume.skills.map(&:name)*", "
          - else
            No skills provided.
          %h4= @resume.user.role == 'employee' ? 'Work History' : 'Project History'
          - if @resume.experiences.any?
            - @resume.experiences.each do |experience|
              = experience.job_title
              = " @ "
              %strong= experience.company_name
              - if experience.from.present? && experience.till.present?
                = experience.from
                %span.range  -
                = experience.till
          - else
            No experiences provided.
          %h4 Referrers
          .row
            - if @resume.references.any?
              - @resume.references.each do |reference|
                .col-md-6.col-sm-6
                  %h3
                    -unless reference.confirmation
                      =link_to "Send Confirmation Request", new_confirmation_path(reference: reference, email: reference.email), remote: true if current_user.resume == @resume
                    -else
                      -if reference.confirmed?
                        CONFIRMED
                      -else
                        %span{style: "font-size: 75%;"}
                          Confirmation sent on:
                          = reference.confirmation.confirmation_sent.strftime("%B %d, %Y")
                  %ul
                    %li
                      %h3 Name:
                      = reference.name
                    %li
                      %h3 How I Know this Business:
                      = reference.reference_type
                    %li
                      %h3 Feedback:
                      = reference.feedback
                    %li
                      - if reference.phone || reference.email
                        %h3 Contact Info
                        = "Phone: #{number_to_phone reference.phone}" if reference.phone.present?
                        = " Email: #{reference.email}" if reference.email.present?
            - else
              .col-md-6.col-sm-6
                No References provided
            .row
              .col-md-12
                = link_to "Add a new reference", new_resume_reference_path(@resume), class: "btn btn-viewall pull-left", data: {toggle: "modal", target: "#newReferenceModal"}, remote: true if current_user.resume == @resume
                #newReferenceModal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "referenceModalLabel", "aria-hidden" => "true"}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} &times
                        %h4.modal-title#referenceModalLabel New Reference
                      .modal-body
                      .modal-footer
  .col-md-2.ads
    .well
      %h3 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Design! Make money and pretty things
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Recruiter/ Scheduling Coordinator
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
      %h3 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Design! Make money and pretty things!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
  #invite-credit-modal.modal.col-md-6.fade{"tabindex" => -1, "role" => "dialog", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"type" => "button", "data-dismiss" => "modal", "aria-hidden" => true} &times
          %p.lead.modal-title Buy Credits
        .modal-body
          .row
            .col-md-4
              %h3= Invite::PRICE[0].first.to_s + " Credits"
              %p
              = link_to "#{number_to_currency(Money.new Invite::PRICE[0].last)}", buy_invites_jobs_path(selection: "first"), class: "btn btn-viewall", method: :post
            .col-md-4
              %h3= Invite::PRICE[1].first.to_s + " Credits"
              %p Most Popular Option
              = link_to "#{number_to_currency(Money.new Invite::PRICE[1].last)}", buy_invites_jobs_path(selection: "second"), class: "btn btn-viewall", method: :post
            .col-md-4
              %h3= Invite::PRICE[2].first.to_s + " Credits"
              %p
              = link_to "#{number_to_currency(Money.new Invite::PRICE[2].last)}", buy_invites_jobs_path(selection: "third"), class: "btn btn-viewall", method: :post
  #myModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => true} X
          %p.lead.modal-title Confirmation Request
        .modal-body
          test

-if @job && @job_application
  #answerModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type:"button","data-dismiss" => "modal", "aria-hidden" => "true"}x
          %h3 Questionaire
        .modal-body
          %p Below are the answers provided by the applicant
          - @job.questions.each_with_index do |question, index|
            %b= "Question #{index+1}" 
            = question.text
            %br/
            = " - " + question.answers.where(user_id: @job_application.user_id).first.text
            %br/
  #myHire.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type:"button","data-dismiss" => "modal", "aria-hidden" => "true"}x
          %h3 Select Pay option
        .modal-body
          %p Please select whether this job is an hourly or a salaried position. This will effect how you generate an invoice and whether the employee will be able to log hourly time.
        .modal-footer
          = link_to "Hourly", hire_job_job_application_path(@job, @job_application, {type: "hourly"}), {class: "btn btn-large btn-success", method: :post}
          = link_to "Salary", hire_job_job_application_path(@job, @job_application, {type: "salary"}), {class: "btn btn-large btn-success", method: :post}
