#resume_search.container
  .row
    .col-md-offset-6
      = search_form_for @search, url: search_resumes_path, method: :get, html: {class: "form-search"}, remote: true do |f|
        = f.select :skills_name_eq, Skill::GROUPED_SKILLS, {include_blank: 'None'}
        = f.select :schools_highest_merit_eq, School::HIGHEST_MERIT, {include_blank: 'None'}
        = button_tag "Reset", type: "reset", class: "reset", id: "search_reset"
        = f.submit "Search"
      %hr
  .row{style: "margin-bottom:10px"}
    .col-md-offset-2
      .col-md-2
        .lead Rating
      .col-md-2
        .lead Name
      .col-md-2
        .lead Overview
  .row
    .col-md-2
      %ul.nav.nav-list
        %li.nav-header Actions
        %li{style:"margin-left:10px"}
        %li= link_to "Post a New Job", new_job_path
        %li= link_to "Recieved Estimates", recieved_estimates_path
        %li= link_to "Recieved Job Applicants", "#"
        %li.nav-header Categories

    .col-md-8
      %ul#resumes.clearfix.list-unstyled
        =render partial: "resumes/resume", collection: @resumes
:javascript
  $('#search_reset').on('click', function() {
    $.get($("#resumes_search").attr("action"), $("#products_search").serialize(), null, "script");
  });

