.resumes_show
  .white_box
    - if @resume.present?
      .pull-right{ style: "width: 300px"}
        - if @resume.user == current_user
          = link_to [:add_video, @resume], class: "btn btn-success" do
            %b{ class: "icon-facetime-video"}
            Add Video Resume

          = link_to [:edit, @resume], class: "btn btn-primary" do
            %b{ class: "icon-user"}
            Edit Resume
          %p{ style: "margin-top: 10px;" } Video helps you sell yourself to potential employers. Stand out with a great visual presentation of your skills.
        %strong Types of Jobs They Are Interested In:
        - if @resume.category1 || @resume.category2 || @resume.category3
          %ul
            - if @resume.category1
              %li= @resume.category1.name
            - if @resume.category2
              %li= @resume.category2.name
            - if @resume.category3
              %li= @resume.category3.name

      %h1= @resume.name

      .contact_details
        .phone
          %span.resume_detail_label Phone:
          = @resume.phone
        .email
          %span.resume_detail_label Email:
          = link_to @resume.email, "mailto: #{@resume.email}"
        .website
          %span.resume_detail_label Webste:
          = link_to @resume.website, @resume.website
        .twitter
          %span.resume_detail_label Twitter:
          = link_to "@#{@resume.twitter.gsub("@", "")}", "http://www.twitter.com/#{@resume.twitter.gsub("@", "")}"

        - @resume.addresses.each do |address|
          .address
            %span.resume_detail_label Address:
            = address.city
            = address.state

      - if @resume.web_video.present?
        .video_resume
          %h3 Video Resume
          :erb
            <video id="my_video_1" class="video-js vjs-default-skin" controls
              preload="auto" width="640" height="360"
              data-setup="{}">
              <source src="<%= @resume.web_video.url %>" type='video/mp4'>
            </video>

      - if @resume.experiences.any?
        %h3 Experience
        - @resume.experiences.each do |experience|
          .experience
            %h4.company
              = experience.company_name
              %span.title{ style: "font-weight: normal; margin-left: 10px;" }= experience.job_title
              %span.range{ style: "font-weight: normal; margin-left: 10px; font-size: 14px;" }
                = experience.from
                = " - "
                = experience.till
            %span= experience.highlights.html_safe
      .schools
        %h3 Schools
        - @resume.schools.each do |school|
          .school
            %h4.school_name= school.name
      .references
        %h3 References
        - @resume.references.each do |reference|
          .reference
            %h4.name{ style: "margin-bottom: 0"}= reference.name
            %em.job= reference.job_title
            .company= reference.company
            .phone= reference.phone
            .email= reference.email
            .notes= reference.notes

    - else
      %p This application doesn't have a resume