.resumes_show
  .white_box
    - if @resume.present?
      - if @resume.user == current_user
        .pull-right
          /= link_to "Add Video Resume", [:add_video, @resume], class: "btn"
          = link_to "Edit Resume", [:edit, @resume], class: "btn"
      %h1= @resume.name


      /- if @resume.web_video.present?
      /  :erb
      /    <video id="my_video_1" class="video-js vjs-default-skin" controls
      /      preload="auto" width="640" height="360"
      /      data-setup="{}">
      /      <source src="<%= @resume.web_video.url %>" type='video/mp4'>
      /    </video>

      / = @resume.video

      .contact_details
        %span= @resume.phone
        %span= @resume.email
        %span= link_to @resume.website, @resume.website
        %span= link_to "@#{@resume.twitter}", "http://www.twitter/#{@resume.twitter}"

        / - @resume.addresses.each do |address|
        /   .address
        /     = address.city
        /     = address.state

      - if @resume.experiences.any?
        %h3 Experience
        - @resume.experiences.each do |experience|
          .experience
            %h4.company
              = experience.company_name
              %span.title{ style: "font-weight: normal; margin-left: 10px;" }= experience.job_title
              %span.range{ style: "font-weight: normal; margin-left: 10px; font-size: 14px;" }
                = experience.from
                = " - "
                = experience.till
            %span= experience.highlights.html_safe
      .schools
        %h3 Schools
        - @resume.schools.each do |school|
          .school
            %h4.school_name= school.name
      .references
        %h3 References
        - @resume.references.each do |reference|
          .reference
            %h4.name{ style: "margin-bottom: 0"}= reference.name
            %em.job= reference.job_title
            .company= reference.company
            .phone= reference.phone
            .email= reference.email
            .notes= reference.notes

    - else
      %p This application doesn't have a resume