!!!
%html
  %head
    %title  Workcheetah.com - the Internet's fastest job network
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - unless request.path == root_path
      = javascript_include_tag "https://js.stripe.com/v1/"
    :erb
      <script type="text/javascript" src="//use.typekit.net/prn5mzt.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <link rel="shortcut icon" href="<%= asset_path("favicon-claw1.ico") %>">
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    = csrf_meta_tags
  %body.home
    .container

      = yield