- if @account.safe_job_seal?
  = link_to "Remove Safe Job Seal", [:remove_seal, :account], class: "btn" if current_user.admin?
- if @account.logo.present?
  .logo= image_tag @account.logo.medium.url
%h2= @account.name
- if current_user.admin? or current_user.moderator?
  = link_to "Send message", new_conversation_path(recipient_id: @account.users.first.id)
  %br/
- if current_user.blocks?(@account.users.first)
  = link_to "Unblock", blocks_path(id: @account.users.first), method: :delete
- elsif (current_user.account.present? and current_user.account != @account) or !current_user.account.present?
  = link_to "Block", blocks_path(id: @account.users.first), method: :post

%p
  Website:
  = link_to @account.website, @account.website
  %br/
  Phone:
  = @account.phone.present? ? @account.phone : "None provided"
  %br/
  Role:
  - if @account.role.present?
    = @account.role
  - else
    = link_to "Please specify your role", account_path(id: @account.id, part: :company)
  %h2 Payment Profile
  = render 'payment_profile'
  %h2 Bank Account
  %p Click the button below to securely save your bank information
  = link_to account_path(id: @account.id, part: :bank_account) do
    = current_user.stripe_recipient_id.nil? ? "Add Bank Account Information" : "Update Bank Account information"
