.accounts_add_seal
  .white_box
    %h1 Your Job Is Live on WorkCheetah!
    %h2 The next step is verifying your company...
    .options
      .no_thanks_box
        .no_thanks_content
          .heading No Thanks, I Don't Want To Verify My Company
          %p= link_to "Don't Verify - Continue", [:my, :jobs]
      .verify_box
        .verify_content
          .heading
            Verify Your
            %br/
            Company
          %ul
            %li Attract More Candidates
            %li Verifies All Your Job Listings
            %li Ensure Applicants You're Jobs Are Legitimate
          %p
            Verifying your company is simple and ensures applicants that your organization is legitimate! You will receive a temporary seal until the verification process is completed. Please see
            %strong NOTE
            below button BEFORE clicking.
          - if @account.payment_profiles.any?
            .button= link_to "Verify My Company - $ #{PaymentProfile::SAFE_SEAL_PRICE_IN_DOLLARS}", [:buy_seal, :account], method: :post
            .after_button
              %strong NOTE:
              = "Clicking the above button will charge $ #{PaymentProfile::SAFE_SEAL_PRICE_IN_DOLLARS}"
              %br/
              to your card
              /  ending in
              / = "XXXX-" + @account.payment_profiles.first.cc_number_preview
              immediately. Validation comes only from providing legitimate information about your company or organization. Paying the application fee does not guarantee validation with WorkCheetah.
          - else
            .button= link_to "Verify Your Company Now", new_payment_profile_path(product: "seal")
            .after_button
              %strong Start by adding billing details
              %p
                Verifying your account is optional and not required to use WorkCheetah. There is a one-time application fee of $25. Please start the process by adding billing details.

      .clearfix