.accounts_edit.container
  .row
    .col-md-5
      %h3 Customize Profile Portal
      = form_for @account, url: account_path, html: {role: "form"} do |f|
        .form-group
          = f.label :logo
          = f.file_field :logo, class: "form-control"
          %p.help-block Upload a file above, files will be resized and must be of type .jpeg, .png, or .gif
        .form-group
          %label Jobs Portal Web Address
          .help-block To protect yourself from spam, you can make your job post invite only.
          .input-group
            %span.input-group-addon http://www.workcheetah.com/
            = f.text_field :slug, label: false, placeholder: "your-company-name-without-spaces", input_html: { class: 'form-control' }
        .action
          = f.submit "Customize Profile Portal", class: "btn btn-viewall"