.accounts_show
  .white_box
    - if @account.logo.present?
      .pull-right
        = image_tag @account.logo.medium.url
    %h1.account_name= @account.name
    %p
      Website:
      = link_to @account.website, @account.website
      %br/
      Phone:
      = @account.phone
    - if @account.safe_job_seal?
      = link_to "Remove Safe Job Seal", [:remove_seal, :account], class: "btn"
    - else
      = link_to "Verify Your Company", [:add_seal, :account], class: "btn btn-success"

    .payment_profiles
      %h2 Payment Profiles
      - if @account.payment_profiles.any?
        - @account.payment_profiles.each do |pp|
          .payment_profile
            - if pp.nickname
              .nickname
                Nickname:
                = pp.nickname
            - if pp.expiration
              .expiration
                Expires:
                = pp.expiration
            - if pp.cc_number_preview
              .cc_number_preview
                Last 4 Numbers:
                = pp.cc_number_preview
            - if pp.created_at
              .created_at
                Created on:
                = pp.created_at.strftime("%m/%d/%Y")
            - if pp.status
              .status= pp.status
            .delete= link_to "Delete", payment_profile_path(pp), method: :delete, confirm: "Are you sure you want to remove this payment profile?"
      - else
        %p
          Looks like you don't have any payment profiles setup yet. Please
          = link_to "add a payment profile", new_payment_profile_path
    = link_to "Customize Jobs Portal", [:customize, :account], class: "btn"
    = link_to "Edit Account", [:edit, :account], class: "btn"